/* *Variáveis */

:root {
    --cor-laranja-100: #E08E6D;
    --cor-laranja-200: #C66E57;
    --cor-marrom-100: #9A4E45;
    --cor-marrom-200: #6D3534;
    --cor-branco-100: #ffffff;
    --cor-preto-100: #000000;
    --espacamento-padding-maior: 3rem;
    --espacamento-padding-grande: 2rem;
    --espacamento-padding-medio: 1rem;
    --espacamento-padding-pequeno: 0.8rem;
    --espacamento-padding-menor: 0.6rem;
    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-titulo: 'MinhaFontePersonalizada';
}

/* *Fontes */
@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url(../assets/TAN\ St.\ Canard\ Regular.otf);
    font-style: normal;
    font-weight: normal;
}

/* * Reset CSS da página de posts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; /* *Letras visualmente melhores (suavização) para Chrome, Edge... */
    -moz-osx-font-smoothing: grayscale; /* *Letras visualmente melhores (suavização) para Firefox... */
}

/* *Estilo de toda página do dashboard */
#dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* !Necessário para que a página ocupe todo o espaço da tela */
    background:
        linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.75)
        ),
        url(../assets/fundo-deepgroove.png);
    background-size: cover;
    overflow-y: hidden;
}

/* *Estilo do cabeçalho do dashboard */
#dashboard #cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacamento-padding-grande) var(--espacamento-padding-maior) var(--espacamento-padding-medio) var(--espacamento-padding-maior);
    color: var(--cor-branco-100);
    border-radius: 0 0 16px 16px;
    gap: 1rem;
}

/* *Estilo do título do cabeçalho da dashboard */
#dashboard #cabecalho .titulo-cabecalho {
    font-size: 3rem;
    font-family: var(--fonte-primaria);
}

/* *Estilo do perfil do administrador da dashboard */
#dashboard #cabecalho .container-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#dashboard #cabecalho .container-dados-do-admin {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
    text-align: end;
}

#dashboard #cabecalho .dados-do-admin {
    font-family: var(--fonte-primaria);
    font-size: 0.85rem;
}

#dashboard #cabecalho .container-foto-de-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--cor-branco-100);
}

#dashboard #cabecalho .foto-de-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* *Estilo da área de dados sobre o número de publicações e usuários do site */
#dashboard #area-navegacao-e-estatisticas {
    padding: 0 var(--espacamento-padding-maior);
    color: var(--cor-branco-100);
    font-family: var(--fonte-primaria);
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 17.5%;
    width: 100%;
}

#dashboard #area-navegacao-e-estatisticas .lista-area-navegacao-e-estatisticas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    width: 100%;
}

#dashboard #area-navegacao-e-estatisticas .container-usuarios-publicacoes-recentes {
    z-index: 3;
    padding: var(--espacamento-padding-menor) var(--espacamento-padding-menor);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    width: 22%;
    aspect-ratio: 1 / 0.55;
    background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.08),
            rgba(255, 255, 255, 0.03)
        );
    /* *EFEITO VIDRO */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* * */
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow:
        inset 0 1px 1px rgba(255,255,255,0.08),
        0 8px 32px rgba(0,0,0,0.35);
}

/* *Estilo do container que mostra o número total de usuários e do container do número de publicações */
#dashboard #area-navegacao-e-estatisticas .numero-de-usuarios-publicacoes-e-recente {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 95%;
}

/* *Estilo do ícone de usuários e publicações */
#dashboard #area-navegacao-e-estatisticas .icone-usuarios-tabelas-e-recentes {
    font-size: 2rem;
    line-height: 1;
    background-color: var(--cor-marrom-100);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
}

/* *Estilo do botão da dashboard de navegar para as páginas administrativas */
#dashboard #area-navegacao-e-estatisticas .botao-navegar-para-paginas-administrativas {
    color: var(--cor-branco-100);
    background-color: var(--cor-laranja-100);
    border: none;
    border-radius: 12px;
    padding: var(--espacamento-padding-pequeno) var(--espacamento-padding-medio);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    width: 95%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* *Animação dos botões da dashboard de navegar para as páginas administrativas */
#dashboard #area-navegacao-e-estatisticas .botao-navegar-para-paginas-administrativas:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
    cursor: pointer;
    opacity: 0.95;
}

/* *Estilo da SEÇÃO das informações recentes */
#dashboard #area-navegacao-e-estatisticas .informacao-recente {
    width: 92.5%;
    color: var(--cor-branco-100);
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 0.9rem;
    overflow-wrap: break-word;
}

/* *Estilo da foto da publicacao recente */
#dashboard #area-navegacao-e-estatisticas .foto-da-publicacao-recente {
    width: 3.5rem;
    height: 3.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}

/* *Estilo da foto do usuário da atividade recente */
#dashboard #area-navegacao-e-estatisticas .foto-do-usuario-da-atividade-recente {
    aspect-ratio: 1 / 1;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--cor-branco-100);
}

/* *Estilo do texto das informações recentes */
#dashboard #area-navegacao-e-estatisticas .texto-da-informacao-recente {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    gap: 0.2rem;
}

#dashboard #area-navegacao-e-estatisticas .data-e-hora {
    font-size: 0.75rem;
    opacity: 0.9;
}

/* *Estilo das linhas de divisão */
#dashboard #area-navegacao-e-estatisticas .linha-dividindo-informacoes-recentes {
    border: none;
    border: 1px solid var(--cor-laranja-200);
    opacity: 0.5;
    width: 92.5%;
}


/* *Estilo e animação dos botões de ver mais e ver menos atividades e publicações recentes */
#dashboard #area-navegacao-e-estatisticas .botao-ver-mais-informacoes-recentes, #dashboard #area-navegacao-e-estatisticas .botao-ver-menos-informacoes-recentes {
    width: 95%;
    border: none;
    background: none;
    font-size: 1.2rem;
    color: var(--cor-laranja-100);
    display: flex;
    justify-content: space-evenly;
}

#dashboard #area-navegacao-e-estatisticas .botao-ver-mais-informacoes-recentes:hover, #dashboard #area-navegacao-e-estatisticas .botao-ver-menos-informacoes-recentes:hover {
    cursor: pointer;
    opacity: 0.95;
}

/* *INFORMAÇÕES A MAIS, LINHAS DE DIVISÃO E BOTÃO DE VER MAIS ESCONDIDOS */
#dashboard #area-navegacao-e-estatisticas .informacao-atividades-recentes-2, #dashboard #area-navegacao-e-estatisticas .informacao-atividades-recentes-3, 
#dashboard #area-navegacao-e-estatisticas .informacao-publicacoes-recentes-2, #dashboard #area-navegacao-e-estatisticas .informacao-publicacoes-recentes-3,
#dashboard #area-navegacao-e-estatisticas .linha-dividindo-atividades-recentes-2, #dashboard #area-navegacao-e-estatisticas .linha-dividindo-atividades-recentes-3, #dashboard #area-navegacao-e-estatisticas .linha-dividindo-publicacoes-recentes-2, #dashboard #area-navegacao-e-estatisticas .linha-dividindo-publicacoes-recentes-3,
#dashboard #area-navegacao-e-estatisticas .botao-ver-menos-informacoes-recentes {
    display: none;
}

/* *Estilo do título de fundo da dashboard */
#dashboard #container-titulo-de-fundo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
}

#dashboard #container-titulo-de-fundo .titulo-de-fundo {
    color: var(--cor-branco-100);
    font-family: var(--fonte-titulo);
    font-size: 7.5vw;
    margin-bottom: 6.7%;
}

/* *Estilo do container do disco de vinil como imagem de fundo */
#dashboard .container-imagem-disco-de-vinil-fundo {
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* *Estilo do disco de vinil como imagem de fundo */
#dashboard .imagem-disco-de-vinil-fundo {
    height: 100%;
}

/* *Estilo para rodapé do dashboard */ 
#dashboard #rodape {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--espacamento-padding-maior) var(--espacamento-padding-maior) var(--espacamento-padding-maior);
    z-index: 2;
}

/* *Estilo para botões HOME e SIGN OUT do dashboard */
#dashboard #rodape .botao {
    color: var(--cor-branco-100);
    padding: var(--espacamento-padding-menor) var(--espacamento-padding-medio);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2rem;
    border: none;
    background-color: var(--cor-laranja-100);
}

#dashboard #rodape .botao-sign-out {
    padding: var(--espacamento-padding-menor) var(--espacamento-padding-menor) var(--espacamento-padding-menor) var(--espacamento-padding-medio);
}

/* *Animação ao passar o mouse por cima dos botões HOME e SIGN OUT da dashboard */
#dashboard #rodape .botao:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
    cursor: pointer;
    opacity: 0.95;
}

/* *Responsividade */

/* !Monitor 2K */

@media (min-width: 1919px) {
    :root {
        --espacamento-padding-maior: 4rem;
        --espacamento-padding-medio: 2rem;
        --espacamento-padding-pequeno: 1.4rem;
        --espacamento-padding-menor: 1rem;
    }
    #dashboard #cabecalho {
        padding-bottom: 1.4rem;
    }
    #dashboard #cabecalho .titulo-cabecalho {
        font-size: 4.2rem;
    }
    #dashboard #cabecalho .dados-do-admin {
        font-size: 1.4rem;
    }
    #dashboard #cabecalho .container-foto-de-perfil {
        font-size: 4rem;
        width: 6rem;
        height: 6rem;
    }
    #dashboard #area-navegacao-e-estatisticas .container-atividades-recentes, #dashboard #area-navegacao-e-estatisticas .container-publicacoes-recentes {
        gap: 2.5rem;
    }
    #dashboard #area-navegacao-e-estatisticas .icone-usuarios-tabelas-e-recentes {
        font-size: 3rem;
    }
    #dashboard #area-navegacao-e-estatisticas .texto-dados-totais, #dashboard #area-navegacao-e-estatisticas .texto-da-informacao-recente, #dashboard #area-navegacao-e-estatisticas .botao-navegar-para-paginas-administrativas {
        font-size: 1.4rem;
    }
    #dashboard #area-navegacao-e-estatisticas .texto-da-informacao-recente {
        font-size: 1.4rem;
    }
    #dashboard #area-navegacao-e-estatisticas .data-e-hora {
        font-size: 1rem;
    }
    #dashboard #area-navegacao-e-estatisticas .botao-ver-mais-informacoes-recentes, #dashboard #area-navegacao-e-estatisticas .botao-ver-menos-informacoes-recentes {
        font-size: 1.7rem;
    } 
    #dashboard #rodape .botao {
        font-size: 3.5rem;
    }
}

@media (max-width: 1025px) {
    #dashboard .imagem-disco-de-vinil-fundo {
        height: 75%;
    }
    #dashboard #container-titulo-de-fundo .titulo-de-fundo {
        font-size: 7vw;
        margin-bottom: 2rem;
    }
    
}

/* !Tablet em pé */
@media (max-width: 769px) {
    #dashboard #area-navegacao-e-estatisticas {
        top: 12%;
    }
    #dashboard #area-navegacao-e-estatisticas .lista-area-navegacao-e-estatisticas {
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    #dashboard #area-navegacao-e-estatisticas .container-usuarios-publicacoes-recentes {
        width: 45%;
    }
    #dashboard #area-navegacao-e-estatisticas .container-usuarios {
        order: 1;
    }
    #dashboard #area-navegacao-e-estatisticas .container-publicacoes {
        order: 2;
    }
    #dashboard #area-navegacao-e-estatisticas .container-atividades-recentes {
        order: 3;
    }
    #dashboard #area-navegacao-e-estatisticas .container-publicacoes-recentes {
        order: 4;
    }
    #dashboard .imagem-disco-de-vinil-fundo {
        height: auto;
    }
    #dashboard #container-titulo-de-fundo {
        align-items: flex-end;
        margin-bottom: 1rem;
    }

    #dashboard #container-titulo-de-fundo .titulo-de-fundo {
        font-size: 12.8vw;
        margin-bottom: 0;
    }
}

/* !Celular - GRANDES MUDANÇAS */
@media (max-width: 530px) {
    :root {
        --espacamento-padding-maior: 1.2rem;
        --espacamento-padding-medio: 0.7rem;
    }

    #dashboard #cabecalho {
        padding-top: 1.5rem;
    }
    
    #dashboard #cabecalho .titulo-cabecalho {
        font-size: 2.7rem;
    }
    
    #dashboard #cabecalho .dados-do-admin {
        display: none;
    }
    
    #dashboard #cabecalho .container-foto-de-perfil {
        font-size: 2.8rem;
        width: 3.6rem;
        height: 3.4rem;
    }

    #dashboard #area-navegacao-e-estatisticas {
        top: 15%;
        width: 100%;
    }
    
    #dashboard #area-navegacao-e-estatisticas .lista-area-navegacao-e-estatisticas {
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 0.5rem;
    }
    
    #dashboard #area-navegacao-e-estatisticas .container-usuarios-publicacoes-recentes {
        flex-direction: row;
        padding: 0 var(--espacamento-padding-menor);
        width: 100%;
        aspect-ratio: 0;
    }

    #dashboard #area-navegacao-e-estatisticas .container-atividades-recentes, #dashboard #area-navegacao-e-estatisticas .container-publicacoes-recentes {
        display: none;
    }
    
    #dashboard #area-navegacao-e-estatisticas .numero-de-usuarios-publicacoes-e-recente {
        padding: var(--espacamento-padding-menor) var(--espacamento-padding-menor);
        border-radius: 16px;
        width: 75%;
    }
    
    #dashboard #area-navegacao-e-estatisticas .botao-navegar-para-paginas-administrativas {
        width: 25%;
        font-size: 1rem;
    }

    #dashboard #area-navegacao-e-estatisticas .botao-navegar-para-paginas-administrativas {
        justify-content: space-evenly;
    }
    
    #dashboard #area-navegacao-e-estatisticas .texto-dados-totais {
        font-size: 1rem;
    }
    
    #dashboard #area-navegacao-e-estatisticas .icone-usuarios-tabelas-e-recentes {
        font-size: 1.7rem;
    }

    #dashboard #container-titulo-de-fundo {
        align-items: flex-end;
        margin-bottom: 0;
    }

    #dashboard #container-titulo-de-fundo .titulo-de-fundo {
        font-size: 13vw;
        margin-bottom: 0;
    }
    
    #dashboard #rodape .botao {
        font-size: 2rem;
    }
     
    #dashboard .imagem-disco-de-vinil-fundo {
        height: auto;
        width: 50%;
    }
} 
