/* *Variáveis */

:root {
    --cor-laranja-100: #E08E6D;
    --cor-gradiente-100: linear-gradient(#6D3534 39%, #9A4E45 75%, #C66E57 94%, #E08E6D 100%);
    --cor-branco-100: #ffffff;
    --cor-preto-100: #000000;
    --espacamento-padding-maior: 3rem;
    --espacamento-padding-medio: 1rem;
    --espacamento-padding-pequeno: 0.8rem;
    --espacamento-padding-menor: 0.6rem;
    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-titulo: 'MinhaFontePersonalizada';
}

/* *Fontes */
@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url(../assets/TAN\ St.\ Canard\ Regular.otf);
    font-style: normal;
    font-weight: normal;
}

/* * Reset CSS da página de posts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; /* *Letras visualmente melhores (suavização) para Chrome, Edge... */
    -moz-osx-font-smoothing: grayscale; /* *Letras visualmente melhores (suavização) para Firefox... */
}

/* *Estilo de toda página do dashboard */
#dashboard {
    display: flex;
    flex-direction: column;
    background: var(--cor-gradiente-100);
    min-height: 100vh; /* !Necessário para que a página ocupe todo o espaço da tela */
}

/* *Estilo do cabeçalho do dashboard */
#dashboard #cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem var(--espacamento-padding-maior) 1rem var(--espacamento-padding-maior);
    font-family: var(--fonte-primaria);
    color: var(--cor-branco-100);
    border-radius: 0 0 16px 16px;
    gap: 1rem;
}

#dashboard #cabecalho h1 {
    font-size: 3rem;
    font-family: var(--fonte-titulo);
}

#dashboard #cabecalho .container-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#dashboard #cabecalho .dados-do-administrador {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
    text-align: end;
}

#dashboard #cabecalho .dados-do-administrador p {
    font-size: 0.8rem;
}

#dashboard #cabecalho .icone-perfil {
    font-size: 2.2rem;
    padding: var(--espacamento-padding-menor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.7rem;
    border-radius: 50%;
    color: var(--cor-preto-100);
    background: var(--cor-branco-100);
    border: none;
}

/* *Estilo da área de dados sobre o número de publicações e usuários do site */
#dashboard #dados-usuarios-publicacoes {
    padding: 0 var(--espacamento-padding-maior);
    color: var(--cor-branco-100);
    font-family: var(--fonte-primaria);
}

#dashboard .lista-dados-usuarios-publicacoes {
    display: flex;
    gap: 1rem;
    list-style: none;
}

#dashboard .lista-dados-usuarios-publicacoes .numero-de-usuarios-publicacoes {
    border: 1px solid var(--cor-branco-100);
    padding: var(--espacamento-padding-menor);
    border-radius: 16px;
}

/* *Estilo da área de navegar para páginas administrativas no dashboard */
#dashboard #area-de-navegacao {
    display: flex;
    flex: 1;
}

#dashboard #navegar-para-paginas-administrativas{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

/* *Estilo dos containers para navegar para a lista de usuários e para a tabela de publicações */
#dashboard #navegar-para-paginas-administrativas .container-lista-tabela {
    width: 18rem;
    height: 14rem;
    position: relative;
}

#dashboard #navegar-para-paginas-administrativas .container-texto-lista-tabela {
    max-width: 87%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    border-radius: 16px;
    box-shadow: 1px 1px 6px 1px var(--cor-preto-100);
    padding: 1rem 2rem;
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    background-color: var(--cor-branco-100);
}

#dashboard #navegar-para-paginas-administrativas .icone-lista-tabela {
    background: var(--cor-laranja-100);
    padding: 0.3rem 0.9rem;
    font-size: 2.5rem;
    color: var(--cor-branco-100);
    border-radius: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* !Soma com "top:50%" e centraliza o ícone das páginas */
    right: 0;
    transition: transform 0.4s ease;
    border: none;
}

/* *Animação para os ícones da lista de usuários e da tabela de publicações */
#dashboard #navegar-para-paginas-administrativas .icone-lista-tabela:hover {
    transform: translateY(-50%) scale(1.1);
    cursor: pointer;
} 

/* *Estilo para rodapé do dashboard */ 
#dashboard #rodape {
    display: flex;
    justify-content: flex-end;
    padding: 0 3rem;
}

#dashboard .botao-sign-out {
    color: var(--cor-branco-100);
    background: none;
    padding: var(--espacamento-padding-menor) 0;
    display: flex;
    border: none;
}

/* *Estilo para ícone de sign out do dashboard */
#dashboard #rodape .icone-sign-out {
    font-size: 2rem;
}

#dashboard #rodape .icone-sign-out:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    cursor: pointer;
}

/* *Responsividade para telas de largura 620px ou menor */
@media (max-width: 620px) {
    #dashboard #navegar-para-paginas-administrativas {
        flex-direction: column;
        gap: 2rem;
    }
    #dashboard #navegar-para-paginas-administrativas .container-lista-tabela {
        width: 17rem;
        height: 16rem;
        display: flex;
        justify-content: center;
    }
    #dashboard #navegar-para-paginas-administrativas .container-texto-lista-tabela {
        width: 100%;
        max-height: 88%;
        padding: 0 var(--espacamento-padding-medio);
        font-size: 1.15rem;
    }
    #dashboard #navegar-para-paginas-administrativas .icone-lista-tabela {
        top: auto;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }
    #dashboard #navegar-para-paginas-administrativas .icone-lista-tabela:hover {
        transform: translateX(50%) scale(1.1);
    } 
}

/* *Responsividade para telas de largura maior que 1024px */
@media (min-width: 1025px) {
    #dashboard #cabecalho h1 {
        font-size: 2.2rem;
    }

    #dashboard #cabecalho .dados-do-administrador p {
        font-size: 0.9rem;
    }

    #dashboard #cabecalho .icone-perfil {
        font-size: 3rem;
        width: 3.9rem;
        height: 3.8rem;
    }

    #dashboard #dados-usuarios-publicacoes .numero-de-usuarios-publicacoes {
        padding: var(--espacamento-padding-medio);
        font-size: 1.1rem;
    }

    #dashboard #navegar-para-paginas-administrativas {
        padding: 1rem;
    }

    #dashboard #navegar-para-paginas-administrativas .container-lista-tabela {
        width: 22rem;
        height: 18rem;
    }

    #dashboard #navegar-para-paginas-administrativas .container-texto-lista-tabela {
        font-size: 1.5rem;
    }

    #dashboard #navegar-para-paginas-administrativas .icone-lista-tabela {
        background: var(--cor-laranja-100);
        padding: 0.4rem 1rem;
        font-size: 3.3rem;
    }

    #dashboard .botao-sign-out{
        font-size: 1.7rem;
    }

    #dashboard #rodape .icone-sign-out {
        font-size: 2.2rem;
    }
}