body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

h1, h2 {
    font-family: 'EB Garamond';
}

h3 {
    text-align: center;
}

.container-instrucoes {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* faz com que a tela possa crescer quando scrollamos */
    min-height: 100vh;
    background: linear-gradient(#5B162D, black);
}

.inicio-instrucoes {
    width: 80vw;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.metade-do-inicio-instrucoes {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
}

.bem-vindo {
    font-size: 700%;
    text-align: center;
    margin: 0;
}

.imagem-logo-instrucoes {
    height: 100%;
    aspect-ratio: 1/1;
    opacity: 0.5;
}

.container-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    border-radius:30px;
    padding: 5%;
    text-align: center;
    z-index: 3;
}

.background-opaco {
    background-color: #330917;
    border: 2px solid #F09859;
}

.amarelo {
    color: #F09859;
}