*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/* ANTI-ESTOURO GLOBAL */
@media (max-width: 1024px) {
    .slider-item {
        width: 60vw; /* Em telas menores, aumenta o slide para ficar melhor visualmente */
    }
}

/*todo: Corta qualquer transbordo horizontal invisível */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hi;
}

body{
    align-items: flex-start;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.navbar{
    height: 10vh;
    width: 100%;
}

.hero-section{
    align-items: center;
    align-self: stretch;
    background: linear-gradient(to bottom, #5B162D 25%, #000 78%);
    display: flex;
    height: auto;
    padding: 0 clamp(1.5rem, 5vw, 5rem);
    min-height: 92vh;
    width: 100%;
}

.elementos-hs{
    align-items: center;
    display: flex;
    flex: 1 0 0;
    gap: 4.25rem;
    justify-content: center;
    min-width: max-content;
    width: 100%;
}

.metade-texto{
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.625rem;
    height: 47.05vh;
    justify-content: center;
    min-width: 17.5rem;
}

#slogan{
    aspect-ratio: 70/43;
    border-radius: 1.66vw;
    flex-shrink: 0;
    height: 23.14vh;
    image-rendering: auto;
    object-fit: cover;
    width: 37.68vw;
}

.texto_hs{

    /*todo: layout da caixa de texto */
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: center;

    /*todo: tipografia */
    color: #FFF;
    font-family: Montserrat;
    font-size: clamp(1rem, 1.85vw, 2rem);
    font-style: normal;
    font-weight: 600;
    line-height: 2;
    text-align: center;
}

.botão{

    /*todo: layout da caixa do botão */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    justify-content: center;
    padding: 0.625rem;
    width: 37.68vw;
    
    /*todo: aparência da caixa */
    background-color: #FFA96B;
    border-radius: 2.31vw;

    /*todo: tipografia */
    color: #000;
    font-family: Inter;
    font-size: clamp(1.2rem, 2.22vw, 2.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

.metade-logo{
    align-items: center;
    display: flex;
    flex: 1;
    height: 50.55vh;
    image-rendering: auto;
    justify-content: center;
    padding: 0.625rem;
    transform: translateZ(0);
    min-width: 17.5rem;
}

/*! a box do carroussel como um todo */
.carroussel{
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: 35.79vh;
    gap: 1.25rem;
    overflow: hidden;
    padding: 1.75rem 0 2.8125rem 0;
    max-width: 100%;
    width: 100%;
}

/*! titulo do carroussel-texto */
.titulo_carroussel{
    color: #000;
    font-family: Montserrat;
    font-size: clamp(1.2rem, 2.96vw, 2.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 clamp(1.5rem, 5vw, 5rem)
}

/*! contem as divs onde estam as imagens */
.slider-conteudo{
    display: flex;
    gap: 0.625rem;
    max-width: 100%;
    overflow-x: auto;
    padding: 0 clamp(1.5rem, 5vw, 5rem);
     scroll-behavior: smooth;
    width: 100%;
}

/*! onde está as imagens */
.slider-item{
    display: block;
    flex-shrink: 0;
    image-rendering: auto;
    width: 38.42vw;
}

/*! as imagens */
.slider-item img{
    align-items: flex-start;
    border-radius: 4.16vw;
    display: block;
    height: 24.16vh;
    object-fit: cover;
    transition: transform 0.3s;
    width: 100%;
}

.nav-arrow{
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    background-color: rgba(225, 225, 225, 0,9);
    color: black;
    width: 3vw;
    height: 8vh;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
    z-index: 10;
}
.nav-arrow:hover{
    background-color: #2d8b33;
    color: white;
}

#seta_esquerda{ left: 0.9vw;}
#seta_direita{right: 0.9vw;}

.radio-auto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2vh;
    margin: 1vw 0;
    gap: 0.5vw;
}

.radio-label{
    border: white;
    padding: 0.4vw;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}
.radio-label.active{
    background-color: #2d8b33;
}