
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-login {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    color: white;
}

.titulo-login {
    font-family: 'EB Garamond';
    font-weight: bold;
}

.metade-tela-login {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario {
    background: linear-gradient(#5B162D, black);
}

.imagem-login {
    background: url(../assets/background\ login\ ween.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.botao-login{
    background: linear-gradient(#F09859, #C06850);
    margin-top: 5%;
    border-radius: 2rem;
    color: white;
    font-size: large;
    height: 2.2rem;
    padding-left: 3%;
    padding-right: 3%;
    width: 20rem;
    box-sizing: border-box;
}

input {
    border-radius: 2rem;
    height: 2.2rem;
    width: 20rem;
    padding-left: 3%;
    padding-right: 3%;
    font-size: large;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para-cadastro {
    color: #F09859;
    text-decoration: underline;
}

.logo-login {
    height: 17%;
    width: 15%;
    position: absolute;
    bottom: 0;
}

.imagem-cadastro {
    background: url(../assets/background\ cadastro\ ween.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}