
body {
    margin: 0;
    padding: 0;
}



a {
    text-decoration: none !important; /* Uso do !important para garantir que a propriedade não seja quebrada */
    color: inherit !important;
    display: flex;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to right, #000000, #5B162D);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.metade-navbar {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.segunda-metade {
    justify-content: end;
    padding-right: 2rem;
}

.botoes {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: #FEECE8;
    gap: 1rem;
}

.botoes:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.logo {
    width: 30%;
    height: 210%;
}

.logo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container-perfil {
    background-color: #F09859;
    width: 2.5rem;
    height: min-content;
    border-radius: 50%;
}