/* *Variáveis */

:root {
    --cor-laranja-200: #F09859;
    --cor-branco-100: #ffffff;
    --cor-preto-50: #2b2121;
    --cor-preto-100: #000000;
    --cor-vinho-100: #5B162D;
    --espacamento-padding-medio: 2rem;
    --espacamento-padding-pequeno: 1rem;
    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-titulo: "EB Garamond", serif;
}

/* * Reset CSS da página de posts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* * Estilo da página de posts */
#pagina-de-posts {
    background: linear-gradient(to bottom, var(--cor-vinho-100), var(--cor-preto-50), var(--cor-vinho-100));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* * Estilo do título da página de posts */
#pagina-de-posts > .titulo {
    color: var(--cor-branco-100);
    padding: var(--espacamento-padding-pequeno) 0;
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    display: flex;
    width: 65%;
}

/* * Estilo do container de pesquisa da página de posts */
#pagina-de-posts #container-de-pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

/* *Estilo da barra de pesquisa da página de posts */
#pagina-de-posts #container-de-pesquisa .barra-de-pesquisa {
    background-color: var(--cor-branco-100);
    border-radius: 30px;
    width: 93.5%;
    display: flex;
    align-items: center;
}

#pagina-de-posts #container-de-pesquisa .pesquisar {
    all: unset;
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
}

#pagina-de-posts #container-de-pesquisa .pesquisar::placeholder {
    color: var(--cor-laranja-200);
    font-style: italic;
}

#pagina-de-posts #container-de-pesquisa .pesquisar:focus::placeholder {
    opacity: 0;
}

/* *Estilo dos ícones de filtro e de pesquisa da página de posts */
#pagina-de-posts #container-de-pesquisa .botao-de-pesquisa {
    margin-right: 1rem;
    font-size: 1.25rem;
    border: none;
    background: none;
    cursor: pointer;
}

#pagina-de-posts #container-de-pesquisa .botao-filtro-de-pesquisa {
    color: var(--cor-laranja-200);
    background-color: var(--cor-branco-100);
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    line-height: 1;
}

/* !INÍCIO ÁREA DE POSTS DA PÁGINA DE POSTS PARA DESKTOP */

/* *Estilo do container de posts da página de posts */
#pagina-de-posts #container-posts-desktop {
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
    height: 110vh;
}

/* *Estilo do container dos álbuns da página de posts */
#pagina-de-posts #container-posts-desktop .album-container {
    width: 30%;
    height: 25%;
    display: flex;
    position: relative;
}

/* *Estilo do disco de vinil dos àlbuns da páginas de posts */
#pagina-de-posts #container-posts-desktop .disco-de-vinil {
    height: 98%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 50%;
    right: 23%;
    transform: translateY(-50%);
    z-index: 1; /* !Menor que o álbum (z-index: 2) para que fique atrás dele */
}

/* *Animação do disco de vinil ao passar o mouse por cima da capa do álbum */
#pagina-de-posts #container-posts-desktop .album:hover ~ .disco-de-vinil {
    animation: 
        disco-de-vinil-saindo-de-tras-do-album 0.5s linear forwards
}

/* *Animação do cursor ao passar o mouse por cima da foto da capa do álbum da página de posts */
#pagina-de-posts #container-posts-desktop .album:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: transform 0.4s;
}

/* *Estilo dos álbuns da página de posts */
#pagina-de-posts #container-posts-desktop .album {
    width: 77%;
    height: 100%;
    background-color: var(--cor-preto-100);
    border: 1.5px solid var(--cor-preto-100);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12), -2px -2px 10px rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 2;
}

/* *Foto da capa dos álbuns da página de posts */
#pagina-de-posts #container-posts-desktop .capa-album {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* *Animação da foto do álbum e do disco de vinil ao passar o mouse por cima da foto (página-de-posts) */
#pagina-de-posts #container-posts-desktop .album:hover .capa-album {
    animation: 
        foto-da-capa-do-album-escurecendo 0.5s linear forwards;    
}

/* *Estilo das informações contidas no álbum da página de posts */
#pagina-de-posts #container-posts-desktop .informacoes-do-album {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    padding: 0.1rem;
    opacity: 0;
}

#pagina-de-posts #container-posts-desktop .titulo-do-album {
    color: var(--cor-branco-100);
    font-weight: bold;
    font-size: 1.2rem;
    font-family: var(--fonte-titulo);
}

#pagina-de-posts #container-posts-desktop .descricao-autor-do-album {
    font-size: 0.8rem;
    color: var(--cor-branco-100);
    font-family: var(--fonte-primaria);
    font-weight: 300;
}

/* *Animação do texto escrito na foto do álbum ao passar o mouse por cima da foto e do disco de vinil (página de posts) */
#pagina-de-posts #container-posts-desktop .album:hover .informacoes-do-album, #pagina-de-posts #container-posts-desktop .disco-de-vinil:hover ~ .album  .informacoes-do-album {
    animation: 
        informacoes-do-album-aparecendo 0.5s linear forwards;
}

/* !FIM DA ÁREA DE POSTS DA PÁGINA DE POSTS PARA DESKTOP */

/* !INÍCIO DA ÁREA DE POSTS DA PÁGINA DE POSTS PARA TABLET / MOBILE */

/* *Estilo do container de posts da página de posts */
#pagina-de-posts #container-posts-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 5rem;
    padding: var(--espacamento-padding-medio) 0;
}

/* *Estilo do container dos álbuns da página de posts */
#pagina-de-posts #container-posts-mobile .album-container {
    width: 52%;
    height: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

/* *Estilo do container do texto e da capa do álbum da página de posts */ 
#pagina-de-posts #container-posts-mobile .capa-texto-album-container {
    background-color: var(--cor-branco-100);
    border: 1.5px solid var(--cor-preto-100);
    border-radius: 16px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    height: 80%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

/* *Estilo do disco de vinil dos àlbuns da páginas de posts */
#pagina-de-posts #container-posts-mobile .disco-de-vinil {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0%;
    z-index: 1; /* !Menor que o álbum (z-index: 2) para que fique atrás dele */
    animation: disco-de-vinil-girando-infinitamente-mobile 2s linear infinite;
}

/* *Estilo dos álbuns da página de posts */
#pagina-de-posts #container-posts-mobile .album {
    width: 100%;
    height: 55%;
    border: 1.5px solid var(--cor-preto-100);
    border-radius: 16px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
}

/* *Foto da capa dos álbuns da página de posts */
#pagina-de-posts #container-posts-mobile .capa-album {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* *Estilo das informações dos álbuns da página de posts */ 
#pagina-de-posts #container-posts-mobile .informacoes-do-album {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}

#pagina-de-posts #container-posts-mobile .titulo-do-album {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--cor-preto-100);
}

#pagina-de-posts #container-posts-mobile .descricao-autor-do-album {
    font-size: 1.6rem;
    color: var(--cor-preto-100);
    font-weight: 300;
}

/* !FIM DA ÁREA DE POSTS DA PÁGINA DE POSTS PARA TABLET / MOBILE */

/* *Estilo do container de mudança de página da página de posts */
#pagina-de-posts #container-de-mudanca-de-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

#pagina-de-posts #container-de-mudanca-de-pagina .container-botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* *Estilo dos botões de mudança de página da página de posts */
#pagina-de-posts #container-de-mudanca-de-pagina .seta-esquerda-mudar-pagina, #pagina-de-posts #container-de-mudanca-de-pagina .seta-direita-mudar-pagina {
    font-size: 1.7rem;
    color: var(--cor-branco-100);
    border: none;
    background: none;
}

#pagina-de-posts #container-de-mudanca-de-pagina .botao-numerado {
    border-radius: 50%;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: none;
}

#pagina-de-posts #container-de-mudanca-de-pagina .botao-pagina-atual {
    background-color: var(--cor-laranja-200);
    color: var(--cor-branco-100);
}

#pagina-de-posts #container-de-mudanca-de-pagina .botao-proxima-pagina, #pagina-de-posts #container-de-mudanca-de-pagina .botao-proxima-proxima-pagina {
    background-color: var(--cor-branco-100);
    color: var(cor-preto-100);
}

#pagina-de-posts #container-de-mudanca-de-pagina.existe-mais-paginas {
    display: flex; 
    align-items: flex-end;
    height: 2.6rem;
}

#pagina-de-posts #container-de-mudanca-de-pagina .existe-mais-paginas {
    font-size: 1.5rem;
    color: var(--cor-branco-100);
}

/* *Animação dos botões de mudança de página da página de posts*/
#pagina-de-posts #container-de-mudanca-de-pagina .botao {
    transition: transform 0.4s ease;
}

#pagina-de-posts #container-de-mudanca-de-pagina .botao:hover {
    transform: scale(1.15);
    cursor: pointer;
}

/* *Animações */
@keyframes foto-da-capa-do-album-escurecendo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.25;
    }
}

@keyframes informacoes-do-album-aparecendo{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disco-de-vinil-saindo-de-tras-do-album {
    to {
        right: 0;
    }
}

@keyframes disco-de-vinil-girando-infinitamente-mobile {
    0% {
        transform: rotate(0deg);  /* !Usa translateY(-50%) pra manter o disco de vinil centralizado; vem antes do rotate */
    }
    100% {
        transform: rotate(360deg);
    }
}

/* *Responsividade */

/* !Tablet */
@media (max-width: 769px) {
    #pagina-de-posts {
        align-items: center;
    
    }
    #pagina-de-posts > .titulo {
        justify-content: center;
        font-size: 4rem;
    }

    #pagina-de-posts #container-de-pesquisa {
        width: 87%;
    }

    #pagina-de-posts #container-de-pesquisa .barra-de-pesquisa {
        padding: 0.2rem;
        width: 87%;
    }

    #pagina-de-posts #container-de-pesquisa .pesquisar {
        font-size: 1.4rem;
    }

    #pagina-de-posts #container-de-pesquisa .botao-de-pesquisa {
        font-size: 1.7rem;
    }

    #pagina-de-posts #container-de-pesquisa .botao-filtro-de-pesquisa {
        font-size: 3rem;
        height: 2.2rem;
        width: 2.2rem;;
    }

    #pagina-de-posts #container-de-mudanca-de-pagina .seta-esquerda-mudar-pagina, #pagina-de-posts #container-de-mudanca-de-pagina .seta-direita-mudar-pagina {
        font-size: 3rem;
    }

    #pagina-de-posts #container-de-mudanca-de-pagina .botao-numerado {
        font-size: 2.3rem;
        width: 3.4rem;
        height: 3.4rem;
    }

    #pagina-de-posts #container-posts-desktop {
        display: none;
    }

    #pagina-de-posts #container-posts-mobile {
        display: flex;
    }
}

/* !Mobile Grande*/
@media (max-width: 624px) {
    #pagina-de-posts > .titulo {
        font-size: 3.5rem;
    }
    #pagina-de-posts #container-de-pesquisa {
        padding: 0 1.1rem;
    }
    #pagina-de-posts #container-de-pesquisa .barra-de-pesquisa {
        width: 80%;
    }
    #pagina-de-posts .pesquisar {
        font-size: 0.9rem;
    }
    #pagina-de-posts #container-posts-mobile {
        row-gap: 4rem;
    }
    #pagina-de-posts #container-posts-mobile .album-container {
        width: 55%;
        height: 40rem;
    }
    #pagina-de-posts #container-posts-mobile .titulo-do-album {
        font-size: 2rem;
    }
}

/* !Mobile Pequeno*/
@media (max-width: 490px) {
    #pagina-de-posts #container-posts-mobile .album-container {
        width: 70%;
        height: 37rem;
    }
}