*{
    margin: 0;
    padding: 0;
    width: auto;
}

#capa-d {
    /*! faz os elementos ficarem lado a lado */
    display: flex; /*acho q inline faz a msm coisa */
    gap: 100px;
}

.dados-capa-d {
    display: flex;
    gap: 150px;
}

#sobre-d {
    display: flex;
    gap: 20px;
}

.musica-d {
    display: flex;
    width: 100%;
    gap: 200px;
}

.conteudo-faixas-d {
    display: flex;
    width: 100%;
}

.dados-faixa-d {
    display: flex;
    gap: 20px;
}

.nota-d {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vetor-nota-d {
    /* largura */
    width: 30px;
    /* altura */
    height: 30px;
    margin: 0;
}

#faixas-d {
    text-align: center;
}

.album-d {
    position: relative;
    padding: /*TETO*/50px /*LADO*/0px;
}

.disco-d {
     /* largura */
    width: 400px;
    /* altura */
    height: 200px;
    padding: 5px 20px;

    /*! nome da função - tempo para completar a volta - velocidade cte - por tempo infinito */
    animation: girar 3s linear infinite;
}

/*! funçao q faz o disco rodar */
@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.capa-album-d {
    /* largura */
    width: 200px;
    /* altura */
    height: 200px;
    background-color: #5B162D;
    border-radius: 10px;

    /*! px- grossura da borda solido-tipo, pq pode ser blur, etc e a cor */
    border: 4px solid #F09859;

    position: absolute;
    z-index: 2;
}

.nome-album-d {
    font-family: "EB Garamond", serif;
    color: #E0D7D7;
    margin: 0;
}

.textinhos {
   font-family: "Inter", sans-serif;
   color: #E0D7D7;
   margin: 0;
}

.h3-pagPost-d {
     font-family: "Inter", sans-serif;
     color: #E0D7D7;
     margin: 0;
}

.h2-sobre-d {
    font-family: "Inter", sans-serif;
     color: #F09859;
     text-align: center;
}

.analise-conceito-d {
    background-color: #3B111F;
    border-radius: 10px;
    border: 5px solid #792B3C;
    text-align: justify;
    padding: /*TETO*/0px /*LADO*/20px;
}

#titulo-faixas-d {
    font-family: "Inter", sans-serif;
    color: #E0D7D7;
}

.nome-faixa-d {
    font-family: "Montserrat", sans-serif;
    color: #E0D7D7;
}

.textinhos-sobre {
    color: #E0D7D7;
     font-family: "Montserrat", sans-serif;
}

.agrupamento-faixas-d {
    /*! tem q colocar o display flex senao o gap é ignorado */
    display: flex;
    /*! coloquei pq o padrao do display flex é row (lado a lado) ai assim fica na coluna */
    flex-direction: column;
    gap: 20px;
}

#tudo-d {
    /*! tem q colocar o display flex senao o gap é ignorado */
    display: flex;
    /*! coloquei pq o padrao do display flex é row (lado a lado) ai assim fica na coluna */
    flex-direction: column;
    gap: 20px;
    padding: /*TETO*/20px /*LADO*/40px;
   

}

body{
    /* para nn ficar uma borda horrosa branca em volta */
    margin: 0;
    padding: 0;

    
    background: linear-gradient(
     #691B35,
     #461525,
     #190A0F
    );
}

.conteudo-capa-d {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: /*TETO*/20px;
    padding-left: 80px;
} 

.linha-d {
    background-color: #E0D7D7;
    width: 100%;
    height: 2px;
}

@media (max-width:431px) {

   #capa-d {
    flex-direction: column;
    gap: 0;

   }

   .conteudo-capa-d {
    padding-left: 0;
   }

   .dados-capa-d {
    gap: 15%;
   }

   #sobre-d {
    display: flex;
    flex-direction: column;
   }

   
   .s {
    display: none;
   }

   .musica-d {
    gap: 15%;
    justify-content: center;
    align-items: center;
   }

    .disco-d {
        width: 105vw;
    }

}