:root {
    --corclara: #FEECE8;
    --fontetitulo: "Erica One", sans-serif;
    --pesotitulo: 100;
    --linhatabela: #FEB579;
    --fonte: "Inter", sans-serif;
    --cordestaque: #C06850;
    --pesocabtab: 800;
    --pesogertab: 550;
    --pesopesq: 500;
    --cortextopesq: #773B36;

    /*! CORES PADRÃO DOS MODAIS */

    --cor-branco-300: #F4D8D2;
    --cor-branco-400: #E7C6BE;
    --cor-vinho-100: #5D1D2D;
    --cor-vermelho-50: #A62C3A;
    --cor-laranja-200: #AC432B;

    /* !FONTES PADRÃO DOS MODAIS */
    --fonte-modal-titulo: "Montserrat", sans-serif;
    --fonte-modal: "Montserrat", sans-serif;

    /** var modal editar */
    --cor-branco-200: #FEECE8;
    --cor-branco-100: #FFFFFF;
    --cor-preto-100: #000000;
    --cor-marrom-100: #6D3534;
    --cor-vermelho-100: #FF0000;
    --cor-verde-100: #22C55E;

    /** var modal visualizar e excluir */
    --fundodecormodal: #6D3534;
    --fundodecorcontainerdados: #CA998F; 
    --corbackdado: #FEECE8;
    --corbordainput-cordestaque: #6D3534;
    --pesomodal: 600;
    --tamfontemodal: 0.8rem;

    --fonteaviso: "Montserrat", sans-serif;
    --coraviso: #000000;
    --cordestaviso: #5B162D;
    --backbotao: #C06850;
    --letrabotao: #FEECE8;

    --pesoaviso: 800;
    --tamaviso: 1.2rem;

    --pesoavisorodape: 500;
    --tamavisorod: 1rem;

    --pesoexcluirbotao: 700;

    /** var modal criar */

    --cor-amarelo: #c05300;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tbposts{
    padding: 1rem 2rem;
    min-height: 100vh;

   
    background: linear-gradient(
        #6D3534 39%, 
        #9A4E45 75%,
        #C66E57 94%,
        #E08E6D 100%
    );

    position: relative;
    
}

.addUser {
    display: flex;

    align-items: center;
    justify-items: center;
}

.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.topoTabelaPosts {
    display: flex;
    /* o justify sempre mexe no eixo principal nesse caso row */
    justify-content: space-between;

    align-items: center;

}

.textoTitulo {
    color: var(--corclara);
    font-family: var(--fontetitulo);
    font-weight: var(--pesotitulo);
}

.titulo {
    text-align: center;
}

.tabela{
    display: flex;
    flex-direction: column;
    width: 100%;
   
    margin-top: 3rem;
 
    justify-content: center;

    /*! para tds as colunas da tabela ficarem do msm tamanho */
    table-layout: fixed;

    /*! qunado a lateral da tabela ficar maior q a tela, com isso é posivel rolar ela pro lado sem quebrar a tabela */
    overflow-x: auto;

    border-radius: 1rem;

    background-color: var(--corclara);
}

/*? colunas das tabelas coluna cabeçalho e coluna body */
.colunaCab, .colunageral{
    text-align: center;

    /* add um espaço na no topo e no baixo da div */
    padding: 1.5vh;

    font-family: var(--fonte);

}

.colunageral {
    border-top: 2px solid var(--linhatabela);
    font-weight: var(--pesogertab);
}

.capa-thriller {
    height: 3rem;
    width: 3rem;
}

.colunaCab {
    color: var(--cordestaque);
    font-weight: var(--pesocabtab);
}

.textop {
    font-family: var(--fonte);
    color: var(--corclara);
}

.textoh3 {
    font-family: var(--fonte);
    color: var(--corclara);
}

.icone {
    color: var(--corclara);
    
}

.addPost {
    background-color: var(--cordestaque);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 2.5rem;
    width: 8rem;

}


.pesqUser {

    background-color: var(--corclara);

    background-image: url(../assets/Frame\ 90.svg);
    /*! pra img nn repitir no fundo td */
    background-repeat: no-repeat;

    border-radius: 3rem;
    border: 1rem solid #6D3534;

    /* cima direita baixo esquerda */
    padding: 1rem 1rem 1rem 3rem;

    /*! coloca o o back 1 p/ laterais e no centro de td */
    background-position: 1rem center;
}

.pesqUser::placeholder {
    color: var(--cortextopesq);
    font-weight: var(--pesopesq);
    font-family: var(--fonte);
}

/* *Animação ao passar o mouse por cima dos ícones de ação da tabela de usuários */
.tabelageral .acao {
    transition: transform 0.2s;
}

.tabelageral .acao:hover {
    transform: scale(1.35);
    cursor: pointer;
}

/* *ESTILO DO MODAL DE EDIÇÃO DE POSTS */
#modal-edicao-posts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 85%;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../assets/fundo-modais-editada.jpeg);
    background-position: 50% 80%;
    background-size: cover;
}    

/* *Estilo da secao do texto, da foto, e do ícone de fechar o modal */
#modal-edicao-posts .secao-texto-foto-fechar-modal {
    width: 90%;
    height: 23%;
    display: flex;
    justify-content: space-between;
}

/* *Estilo do texto de editar foto da capa do álbum */
#modal-edicao-posts .container-texto {
    font-size: 0.6rem;
    width: 35%;
    color: var(--cor-branco-300);
    font-family: var(--fonte-modal-titulo);
}

/* *Estilo do container da foto da capa do álbum */
#modal-edicao-posts .container-foto-capa-do-album {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--cor-branco-300);
}

/* *Estilo do ícone da foto da capa do álbum */
#modal-edicao-posts .container-foto-capa-do-album .icone-foto-capa-do-album {
    font-size: 3rem;
    border: none;
    background: none;
}

/* *Estilo do container do botão de fechar modal*/
#modal-edicao-posts .container-botao-fechar-modal {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}

/* *Estilo do botão de fechar modal*/
#modal-edicao-posts .botao-fechar-modal {
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0.1rem;
    line-height: 1;
    display: flex;
    height: fit-content;
    width: fit-content;
    background-color: var(--cor-branco-300);
}

/* *Animação ao passar o mouse por cima do botão de fechar modal*/
#modal-edicao-posts .botao-fechar-modal:hover {
    transform: scale(1.015);
    transition: transform 0.2;
    cursor: pointer;
    opacity: 0.95;
}

/* *Estilo da seção de edição das informações do usuário */
#modal-edicao-posts .secao-edicao-dados-do-album {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 67%;
    width: 100%;
}

/* *Estilo da secao de instruções e de editar foto da capa do álbum */
#modal-edicao-posts .secao-instrucao-editar-foto-capa-do-album {
    width: 80%;
    height: 20%;
    border-radius: 30px;
    background-color: var(--cor-branco-300);
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *Estilo do container de instruções de editar foto da capa do álbum */
#modal-edicao-posts .container-instrucao-editar-foto-capa-do-album {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* *Estilo do texto de instruções de editar foto da capa do álbum */
#modal-edicao-posts .container-texto-instrucao-editar-foto-capa-do-album {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--cor-vinho-100);
    font-family: var(--fonte-modal);
}

/* *Estilo do botão de editar foto da capa do álbum */
#modal-edicao-posts .botao-alterar-foto-capa-do-album {
    color: var(--cor-branco-300);
    width: 35%;
    height: 45%;
    border: none;
    background-color: var(--cor-vinho-100);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* *Animacao ao o mouse por cima do botão de editar foto da capa do álbum */
#modal-edicao-posts .botao-alterar-foto-capa-do-album:hover {
    transform: scale(1.015);
    transition: transform 0.2;
    cursor: pointer;
    opacity: 0.95;
    font-family: var(--fonte-modal);
}

/* *Estilo da secao de editar informações do álbum e de salvar e cancelar */
#modal-edicao-posts .secao-editar-titulo-ano-autor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 70%;
    background-color: var(--cor-branco-300);
    border-radius: 30px;
}

/* *Estilo do container de editar o dado da publicação*/
#modal-edicao-posts .container-editar-dado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16.5%;
    width: 90%;
}

/* *Estilo do título do dado a ser editado do usuário (Nome, E-mail, Senha) */
#modal-edicao-posts .titulo-dado {
    color: var(--cor-branco-300);
    font-weight: bold;
    border-radius: 30px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    font-size: 0.8rem;
    font-family: var(--fonte-modal);
}

#modal-edicao-posts .titulo-titulo {
    background-color: var(--cor-vinho-100);
}

#modal-edicao-posts .titulo-ano {
    background-color: var(--cor-laranja-200);
}

#modal-edicao-posts .titulo-autor {
    background-color: var(--cor-vermelho-50);
}

/* *Estilo do input de digitar o dado do usuário */
#modal-edicao-posts .editar-dado {
    border-radius: 10px;
    height: 100%;
    width: 75%;
    padding: 0 0.4rem;
    background: none;
    border: 2px solid var(--cor-branco-400);
    font-family: var(--fonte-modal);
    color: var(--cor-vinho-100);
}

/* *Estilo do placeholder de editar dado */
#modal-edicao-posts .editar-dado::placeholder {
    color: var(--cor-vinho-100);
    opacity: 0.5;
}

/* *Estilo da borda do input ao clicar nele */
#modal-edicao-posts .editar-dado:focus {
    outline: none;
}

/* *Estilo do container dos botões de salvar e cancelar */
#modal-edicao-posts .secao-botoes-salvar-cancelar {
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* *Estilo dos botões de salvar e cancelar */
#modal-edicao-posts .secao-botoes-salvar-cancelar .botao {
    border-radius: 30px;
    border: none;
    font-family: var(--fonte-modal);
    width: 40%;
    height: 85%;
}

#modal-edicao-posts .secao-botoes-salvar-cancelar .botao-salvar {
    background-color: var(--cor-vermelho-50);
    color: var(--cor-branco-300);
}

#modal-edicao-posts .secao-botoes-salvar-cancelar .botao-cancelar {
    border: 1px solid var(--cor-vinho-100);
    background-color: transparent;
    color: var(--cor-vinho-100);
}

/* *Animação ao passar o mouse por cima dos botões e cancelar e salvar a edição do post */
#modal-edicao-posts .secao-botoes-salvar-cancelar .botao:hover {
    transform: scale(1.015);
    transition: transform 0.2;
    cursor: pointer;
    opacity: 0.95;
}

/* *Estilo do filtro ao abrir o modal */
.filtro-ao-abrir-modal-da-tabela-de-posts {
    position: fixed;
    inset: 0;
    display: none;
    background-color: var(--cor-preto-100);
    opacity: 0.5;
}

/* !INÍCIO da responsividade PARA MODAL DE EDIÇÃO DE POSTS*/
/* *Tablet deitado/Laptop pequeno */
@media (max-width: 1025px){
    #modal-edicao-posts {
        width: 65%;
    }
}

/* *Tablet na vertical */
@media (max-width: 769px){
    #modal-edicao-posts {
        width: 80%;
    }
}

/* *Celulares */
@media (max-width: 600px){
    #modal-edicao-posts {
            width: 95%;
            height: 95%;
        }
}

/* TODO: Acho melhor a tela de edição de usuário ocupar a tela inteira no mobile, vou obter essa opinião e se for aceita realizo depois, terei que meio que desativar o resto da página 

/* !FIM da responsividade PARA MODAL DE EDIÇÃO DE POSTS*/


/*? MODAL DE VISUALIZAR POST */

.des-modal-vi {
    background-color: var(--fundodecormodal);

    /*? fica position em rel a tela, e serve como position relative para os filhos */
    position: fixed;
    top: 50%;
    left: 50%;
 
    /*! trasforma o elemento e move(translate) ele nesse caso 50% do elemento volta na horizontal e vertical nn mexe (x,y) */
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    display: none;
    flex-direction: column;
    gap: 3rem;
    cursor: default;
    width: 40vw;

    /* box-shadow: x y blur emvolta cor;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 0 0 0  100vw rgba(0,0,0,0.5); */
}

/*! visu e excluir */
.fundoE, .fundoV{
    position: fixed;
    inset: 0;

    /* inset é o mesmo disso aqui
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */

    display: none;

    background-color: #00000059;
    backdrop-filter: blur(8px);

    cursor: pointer;

}

#container-dados-visu {
    background-color: var(--fundodecorcontainerdados);
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1.5rem;

    height: 25vh;

    padding: 0.5rem 1rem;

    margin: 2rem 4rem 2rem 4rem;

    /* nesse caso horizontal */
    align-items: center; 

    /* nesse caso vertical */
    justify-content: center;

}

.dados-visu {
    display: flex; 
    gap: 0.5rem;

    background-color: var(--corbackdado);
    border-radius: 1rem;

    height: 4vh;
    width:90%;
    align-items: center;
    padding: 0 0.5rem;

}

.dado-visu {
    display: flex; 
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: var(--fonte);
    font-weight: var(--pesomodal);
    font-size: var(--tamfontemodal);

    /*! scrolla a div no eixo x */
    overflow-x: auto;

    /*! nao deixa q a div scrolla nesse sentido */
    overflow-y: hidden;

    /*! tira a barra de scroll */
    scrollbar-width: none;

    /*! mantem o texto td em uma linha proibindo q ele quebre */
    white-space: nowrap;
}

/** isso tira a borda do input e coloca um corzinha nele
.input {
   border: none;
   background-color: var(--corbackinput);
}  */

.destaque-dados-visu {
    background-color: var(--corbordainput-cordestaque);
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 1rem;
    height: 1.2rem;
    width: 5rem;

    font-family: var(--fonte);
    font-weight: var(--pesomodal);
    font-size: var(--tamfontemodal);
    color: var(--corbackdado);
}

.polvoIMG {
   

    width: 100%;
    height: 20vh;

    /*? corta a img */
    object-fit: cover;

    /*? pega uma parte especifica da img*/ 
    /*? pode ser center top bottom left right ou assim x y*/
    object-position: 100% 35%;

    /* ordem relogio */
    border-radius: 2rem 2rem 0 0;

}

.containerpolvoIMG {
    width: 100%;
}

.fotodeperfilvi {
   
    position: absolute;
    padding-top: 5%;

    left: 50%;
    transform: translateX(-50%);    
}

.imgperfilvi {
    width: 12vw;
    height: 22vh;

    /* corta a img */
    object-fit: cover;
}

.xis {
    cursor: pointer;    
    position: absolute;
    right: 1rem;
    top: 1rem;

    width: 2rem;

    transition: 0.3s;
}

.xis:hover {
    transform: scale(1.3);
}


/** MODAL EXCLUIR */
.des-modal-ex {
    background-color: var(--fundodecormodal);

    /*? fica position em rel a tela, e serve como position relative para os filhos */
    position: fixed;
    height: 62vh;

    /* centraliza */
    top: 50%;
    left: 50%;
 
    /*! trasforma o elemento e move(translate) ele nesse caso 50% do elemento volta na horizontal e vertical nn mexe (x,y) */
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    display: none;
    flex-direction: column;
    gap: 3rem;
    cursor: default;
    width: 40vw;

    /* box-shadow: x y blur emvolta cor;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 0 0 0  100vw rgba(0,0,0,0.5); */
}

.caixaclara {
    background-color: var(--fundodecorcontainerdados);
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1.5rem;

    height: 30vh;

    padding: 0.5rem 1rem;

    margin: 35% 4rem 2rem 4rem;

    /* nesse caso horizontal */
    align-items: center; 

    /* nesse caso vertical */
    justify-content: center;
}

.containeraviso {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.avisoSEMdestaque {
    font-family: var(--fonteaviso);
    color: var(--coraviso);
    font-weight: var(--pesoaviso);
    text-align: center;
    font-size: var(--tamaviso);
}

.avisoCOMdestaque{
    font-family: var(--fonteaviso);
    color: var(--cordestaviso);
    font-weight: var(--pesoaviso);
    text-align: center;
    font-size: var(--tamaviso);
}

.rodapeaviso {
    font-family: var(--fonteaviso);
    color: var(--coraviso);
    font-weight: var(--pesoavisorodape);
    justify-content: center;
    text-align: center;
    font-size: var(--tamavisorod);
}

.containerbotoes {
    display: flex;
    gap: 1rem;
}

.botao {
    font-family: var(--fonteaviso);
    font-weight: var(--pesoexcluirbotao);
    background-color: var(--backbotao);
    color: var(--letrabotao);
    width: 8vw;
    height: 4vh;

    align-items: center;
    justify-content: center;

    /* tira a borda horrenda q vem no botao */
    border: none; 
    border-radius: 2rem;
    cursor: pointer;

    transition: 0.3s;
}

/*! houver - quando passa o mouse */
.botao:hover {
    transform: scale(1.1);
}

.fotodeperfilex{
   
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);    
}

.imgperfilex {
    width: 14vw;
    height: 26vh;

    /* corta a img */
    object-fit: cover;

    border-radius: 11rem;
    border: 0.5rem solid var(--fundodecorcontainerdados);
}

.mensagem-botao {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.botao-novo-post {
    text-decoration: none;
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
}

.botao-novo-post:hover {   
    cursor: pointer;
}

/* Modal de criar posts */

#modal-criar-posts{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 85%;
    background-color: white;
    flex-direction: column;
    border-radius: 30px;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../assets/fundo-modais-editada.jpeg);
    background-position: 50% 80%;
    background-size: cover;
}

#modal-criar-posts button:hover {
    transform: scale(1.025);
}

.alto-modal-criar {
    display: flex;
    height: 23%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-modal);
}

.um-terco-alto-modal-criar {
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.um-terco-alto-modal-criar h2 {
    font-size: 3vh;
    color: var(--cor-branco-300);

}

.parte-esquerda-alto-modal {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.parte-media-alto-modal {
    display: flex;
    background-color: var(--cor-branco-300);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
}

.parte-direita-alto-modal {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 5%;
}

.imagem-placeholder-capa-criar-post {
    font-size: 7vh;
}

.container-x {
    background-color: var(--cor-branco-300);
    display: flex;
    height: 20%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
}

.sair-da-pagina {
    font-size: 3.5vh;
}

.baixo-modal-criar {
    display: flex;
    height: 67%;
    width: 100%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}

.area-de-colocar-informacoes {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    background-color: var(--cor-branco-300);
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.container-informacoes-foto {
    height: 20%;
    gap: 5%;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    font-family: var(--fonte-modal);
}

.container-informacoes-foto p {
    font-size: 2vh;
}

.container-informacoes-foto h2 {
    font-size: 3vh;
    color: var(--cor-vinho-100);
}

.primeira-parte-do-container-informacoes-foto{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5%;
    width: 70%;
    flex-direction: column;
}

.segunda-parte-do-container-informacoes-foto {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 5%;
    padding: 0;
}

.botao-anexar-foto-modal-criar {
    border: none;
    height: 50%;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--cor-vinho-100);
    color: var(--cor-branco-100);
    gap: 5%
}

.area-de-colocar-informacoes::-webkit-scrollbar {
    width: 7px; 
}

.area-de-colocar-informacoes::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

.area-de-colocar-informacoes::-webkit-scrollbar-thumb {
    background-color: var(--cor-vinho-100);
    border-radius: 30px;
}

.quarto-da-area-informacoes {
    display: flex;
    min-height: 25%;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 5%;
}

.quarto-da-area-informacoes input {
    border-radius: 10px;
    height: 50%;
    width: 75%;
    padding: 0 0.4rem;
    background: none;
    border: 2px solid var(--cor-branco-400);
    font-family: var(--fonte-modal);
    color: var(--cor-vinho-100);
}

.container-textarea {
    padding-top: 1rem;
    display: flex;
    width: 90%;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    gap: 5%;
}

.container-textarea textarea {
    resize: vertical;
    border-radius: 10px;
    width: 75%;
    padding: 0.4rem;
    background: none;
    border: 2px solid var(--cor-branco-400);
    font-family: var(--fonte-modal);
    color: var(--cor-vinho-100);
}

.container-dado-a-criar {
    padding-right: 5%;
    padding-left: 5%;
    color: var(--cor-branco-300);
    font-weight: bold;
    border-radius: 30px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: 0.8rem;
    font-family: var(--fonte-modal);
    text-align: center;
}

#modal-criar-posts button {
    text-decoration: none;
    outline: none;
}

.botao-modal-criar {
    height: fit-content;
    font-size: large;
    height: 60%;
    width: 40%;
    border: none;
    border-radius: 30px;
    color: white;
}

.salva {
    background-color: var(--cor-vermelho-50);
    color: var(--cor-branco-300);
}

.cancelar {
    border: 3px solid var(--cor-vinho-100);
    background-color: transparent;
    color: var(--cor-vinho-100);
}

.imagem-modal-criar {
    background-image: url(../assets/fundo-modais-editada.jpeg);
    background-size: cover;
    background-position: center;
    gap: 2%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.area-lapis-editar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20%;
}

.container-lapis-editar {
    display: flex;
    background-color: white;
    padding: 3%;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.botao-lapis-modal-criar {
    text-decoration: none;
    color: inherit;
    border: none;
    background-color: inherit;
    width: 100%;
    aspect-ratio: 1/1;
}

.botao-lapis-modal-criar:hover {
    cursor: pointer;
}

.imagem-capa-modal-criar {
    background-color: white;
    border-radius: 5px;
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-modal-criar {
    padding-top: 5%;
    justify-content: flex-start;
    background-color: #CA998F;
    color: white;
    font-family: var(--fonte);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container-formulario-criar {
    display: flex;
    height: 85%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    justify-content: flex-start;
}

.area-input-modal-criar {
    width: 70%;
}

.input-criar-post {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 60%;
    font-size: 1rem;
    padding-left: 2%;
}

.input-criar-post::placeholder {
    color: #CA998F;
}

.textarea-descricao {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 2%;
}

.textarea-descricao::placeholder {
    color: #CA998F;
    font-family: var(--fonte);
}

.container-botoes-criar {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30%;
    padding-left: 5%;
    padding-right: 10%;
}

.botao-modal-criar {
    height: fit-content;
    font-size: large;
    height: 50%;
    width: 40%;
    border: none;
    border-radius: 30px;
    color: white;
}

.botao-modal-criar:hover {
    cursor: pointer;
}

.botao-modal-criar.cancelar {
    border: 1px solid var(--cor-vinho-100);
    background-color: transparent;
    color: var(--cor-vinho-100);
}

.botao-modal-criar.salvar {
    background-color: var(--cor-vermelho-50);
    color: var(--cor-branco-300);
}

#dataPostCriado {
    color: #CA998F;
}

.escrita-inputs-modal-criar {
    color: #6D3534
}