:root {
    --corclara: #FEECE8;
    --fontetitulo: "Erica One", sans-serif;
    --pesotitulo: 100;
    --linhatabela: #FEB579;
    --fonte: "Inter", sans-serif;
    --cordestaque: #C06850;
    --pesocabtab: 800;
    --pesogertab: 550;
    --pesopesq: 500;
    --cortextopesq: #773B36;

    /*! CORES PADRÃO DOS MODAIS */

    --cor-branco-300: #F4D8D2;
    --cor-branco-400: #E7C6BE;
    --cor-vinho-100: #5D1D2D;
    --cor-vermelho-50: #A62C3A;
    --cor-laranja-200: #AC432B;

    /** var modal editar */
    --cor-branco-200: #FEECE8;
    --cor-branco-100: #FFFFFF;
    --cor-preto-100: #000000;
    --cor-marrom-100: #6D3534;
    --cor-vermelho-100: #FF0000;
    --cor-verde-100: #22C55E;

    /** var modal visualizar e excluir */
    --fundodecorcontainerdados: #F7DBD4; 
    --corfontedadovisu: #FEECE8;
    --corfontedadovisusub: #AE706D;

    --pesotitulomodal: 600;
    --pesosub: 600;

    --colorinfo: #571A29;
    --pesomodal: 600;
    --tamfontemodal: 0.8rem;
    --tamfontemodaldes: 0.6rem;
    --borderperfil: #EDBFBB;
    --colorborda: #E8BDB6;

    --colorid: #7E193B;
    --colornome: #945E5D;
    --coloremail: #B62A3C;
    --colortipo: #B64621;
    --colorcancelar: #AE706D;
    --colorsim: #DD6640;

    --fonte-modal-titulo: "Montserrat", sans-serif;
    --fonte-modal: "Montserrat", sans-serif;
    --coraviso: #571A29;
    --cordestaviso: #C2502E;
    --backbotao: ##622223;
    --letrabotao: #FEECE8;

    --pesoaviso: 800;
    --tamaviso: 1rem;

    --pesoavisorodape: 500;
    --tamavisorod: 0.8rem;

    --pesoexcluirbotao: 700;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tbuser{
    padding: 1rem 2rem;
    min-height: 100vh;

   
    background: linear-gradient(
        #6D3534 39%, 
        #9A4E45 75%,
        #C66E57 94%,
        #E08E6D 100%
    );
    
}

.addUser {
    display: flex;
    align-items: center;
    justify-items: center;
}

.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.topoTabelaUser {
    display: flex;
    /* o justify sempre mexe no eixo principal nesse caso row */
    justify-content: space-between;

    align-items: center;

}

.textoTitulo {
    color: var(--corclara);
    font-family: var(--fontetitulo);
    font-weight: var(--pesotitulo);
}

.titulo {
    text-align: center;
}

.tabela{
    display: flex;
    flex-direction: column;
    width: 100%;
   
    margin-top: 3rem;
 
    justify-content: center;

    /*! para tds as colunas da tabela ficarem do msm tamanho */
    table-layout: fixed;

    /*! qunado a lateral da tabela ficar maior q a tela, com isso é posivel rolar ela pro lado sem quebrar a tabela */
    overflow-x: auto;

    border-radius: 1rem;

    background-color: var(--corclara);
}

/*? colunas das tabelas coluna cabeçalho e coluna body */
.colunaCab, .colunageral{
    text-align: center;

    /* add um espaço na no topo e no baixo da div */
    padding: 1.5vh;

    font-family: var(--fonte);

}

.colunageral {
    border-top: 2px solid var(--linhatabela);
    font-weight: var(--pesogertab);
}

.colunaCab {
    color: var(--cordestaque);
    font-weight: var(--pesocabtab);
}

.textop {
    font-family: var(--fonte);
    color: var(--corclara);
}

.textoh3 {
    font-family: var(--fonte);
    color: var(--corclara);
}

.icone {
    color: var(--corclara);
    
}

.addUser {
    background-color: var(--cordestaque);

    border-radius: 1rem;
    height: 2.5rem;
    width: 8rem;

}


.pesqUser {

    background-color: var(--corclara);

    background-image: url(../assets/Frame\ 90.svg);
    /*! pra img nn repitir no fundo td */
    background-repeat: no-repeat;

    border-radius: 3rem;
    border: 1rem solid #6D3534;

    /* cima direita baixo esquerda */
    padding: 1rem 1rem 1rem 3rem;

    /*! coloca o o back 1 p/ laterais e no centro de td */
    background-position: 1rem center;
}

.pesqUser::placeholder {
    color: var(--cortextopesq);
    font-weight: var(--pesopesq);
    font-family: var(--fonte);
}

/* *Animação ao passar o mouse por cima dos ícones de ação da tabela de usuários */
.tabelageral .acao {
    transition: transform 0.2s;
}

.tabelageral .acao:hover {
    transform: scale(1.35);
    cursor: pointer;
}

/* *ESTILO DO MODAL DE EDIÇÃO DE USUÁRIOS */
#modal-edicao-usuarios {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 85%;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../assets/fundo-modais-editada.jpeg);
    background-size: cover;
    background-position: 50% 80%;
}    

/* *Estilo da secao do texto, da foto, e do ícone de fechar o modal */
#modal-edicao-usuarios .secao-texto-foto-fechar-modal {
    width: 90%;
    height: 23%;
    display: flex;
    justify-content: space-between;
}

/* *Estilo do texto de editar foto da capa do álbum */
#modal-edicao-usuarios .container-texto {
    font-size: 0.6rem;
    width: 35%;
    color: var(--cor-branco-300);
    font-family: var(--fonte-modal-titulo);
}

/* *Estilo do container da foto da capa do álbum */
#modal-edicao-usuarios .container-foto-de-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 50%;
    background-color: var(--cor-branco-300);
}

/* *Estilo do ícone da foto da capa do álbum */
#modal-edicao-usuarios .container-foto-de-perfil .icone-foto-de-perfil {
    font-size: 4rem;
    line-height: 1;
    border: none;
    background: none;
}

/* *Estilo do container do botão de fechar modal*/
#modal-edicao-usuarios .container-botao-fechar-modal {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}

/* *Estilo do botão de fechar modal*/
#modal-edicao-usuarios .botao-fechar-modal {
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0.1rem;
    line-height: 1;
    display: flex;
    height: fit-content;
    width: fit-content;
    background-color: var(--cor-branco-300);
}

/* *Animação ao passar o mouse por cima do botão de fechar modal*/
#modal-edicao-usuarios .botao-fechar-modal:hover {
    transform: scale(1.015);
    transition: transform 0.2;
    cursor: pointer;
    opacity: 0.95;
}

/* *Estilo da seção de edição das informações do usuário */
#modal-edicao-usuarios .secao-edicao-dados-do-usuario {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 67%;
    width: 100%;
}

/* *Estilo da secao de instruções e de editar foto da capa do álbum */
#modal-edicao-usuarios .secao-instrucao-editar-foto-de-perfil {
    width: 80%;
    height: 20%;
    border-radius: 30px;
    font-family: var(--fonte-modal);
    background-color: var(--cor-branco-300);
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *Estilo do container de instruções de editar foto da capa do álbum */
#modal-edicao-usuarios .container-instrucao-editar-foto-de-perfil {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* *Estilo do texto de instruções de editar foto da capa do álbum */
#modal-edicao-usuarios .container-texto-instrucao-editar-foto-de-perfil {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--cor-vinho-100);
}

/* *Estilo do botão de editar foto da capa do álbum */
#modal-edicao-usuarios .botao-alterar-foto-de-perfil {
    color: var(--cor-branco-300);
    width: 35%;
    height: 50%;
    border: none;
    background-color: var(--cor-vinho-100);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--fonte-modal);;
}

#modal-edicao-usuarios .icone-alterar-foto-de-perfil {
    font-size: 1.15rem;
}

/* *Animacao ao o mouse por cima do botão de editar foto da capa do álbum */
#modal-edicao-usuarios .botao-alterar-foto-de-perfil:hover {
    transform: scale(1.015);
    transition: transform 0.2;
    cursor: pointer;
    opacity: 0.95;
}

/* *Estilo da secao de editar informações do álbum e de salvar e cancelar */
#modal-edicao-usuarios .secao-editar-nome-email-senha {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 70%;
    background-color: var(--cor-branco-300);
    border-radius: 30px;
}

/* *Estilo do container de editar o dado da publicação*/
#modal-edicao-usuarios .container-editar-dado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16.5%;
    width: 90%;
}

/* *Estilo do título do dado a ser editado do usuário (Nome, E-mail, Senha) */
#modal-edicao-usuarios .titulo-dado {
    color: var(--cor-branco-300);
    font-weight: bold;
    font-family: var(--fonte-modal);
    border-radius: 30px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    font-size: 0.8rem;
}

#modal-edicao-usuarios .titulo-nome {
    background-color: var(--cor-vinho-100);
}

#modal-edicao-usuarios .titulo-email {
    background-color: var(--cor-laranja-200);
}

#modal-edicao-usuarios .titulo-senha {
    background-color: var(--cor-vermelho-50);
}

/* *Estilo do input de digitar o dado do usuário */
#modal-edicao-usuarios .editar-dado {
    border-radius: 10px;
    height: 100%;
    width: 75%;
    padding: 0 0.4rem;
    background: none;
    border: 2px solid var(--cor-branco-400);
    font-family: var(--fonte-modal);
    color: var(--cor-vinho-100);
}

/* *Estilo do placeholder de editar dado */
#modal-edicao-usuarios .editar-dado::placeholder {
    color: var(--cor-vinho-100);
    opacity: 0.5;
}

/* *Estilo da borda do input ao clicar nele */
#modal-edicao-usuarios .editar-dado:focus {
    outline: none;
}

/* *Estilo do container dos botões de salvar e cancelar */
#modal-edicao-usuarios .secao-botoes-salvar-cancelar {
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* *Estilo dos botões de salvar e cancelar */
#modal-edicao-usuarios .secao-botoes-salvar-cancelar .botao {
    border-radius: 30px;
    border: none;
    font-family: var(--fonte-modal);
    width: 40%;
    height: 85%;
}

#modal-edicao-usuarios .secao-botoes-salvar-cancelar .botao-salvar {
    background-color: var(--cor-vermelho-50);
    color: var(--cor-branco-300);
}

#modal-edicao-usuarios .secao-botoes-salvar-cancelar .botao-cancelar {
    border: 1px solid var(--cor-vinho-100);
    background-color: transparent;
    color: var(--cor-vinho-100);
}

/* *Animação ao passar o mouse por cima dos botões e cancelar e salvar a edição do post */
#modal-edicao-usuarios .secao-botoes-salvar-cancelar .botao:hover {
    transform: scale(1.015);
    transition: transform 0.2;
    cursor: pointer;
    opacity: 0.95;
}

/* *Estilo do filtro ao abrir o modal */
.filtro-ao-abrir-modal-da-tabela-de-usuarios {
    position: fixed;
    inset: 0;
    display: none;
    background-color: var(--cor-preto-100);
    opacity: 0.5;
}

/* !INÍCIO da responsividade PARA MODAL DE EDIÇÃO DE USUÁRIOS*/
/* *Tablet deitado/Laptop pequeno */
@media (max-width: 1025px){
    #modal-edicao-usuarios {
        width: 65%;
    }
}

/* *Tablet na vertical */
@media (max-width: 769px){
    #modal-edicao-usuarios {
        width: 80%;
    }
}

/* *Celulares */
@media (max-width: 600px){
    #modal-edicao-usuarios {
            width: 95%;
            height: 95%;
        }
}

/* TODO: Acho melhor a tela de edição de usuário ocupar a tela inteira no mobile, vou obter essa opinião e se for aceita realizo depois, terei que meio que desativar o resto da página */

/* !FIM da responsividade PARA MODAL DE EDIÇÃO DE USUÁRIOS*/

/*? MODAL DE VISUALIZAR USUARIO */

.des-modal-vi, .des-modal-ex {
    /*? fica position em rel a tela, e serve como position relative para os filhos */
    position: fixed;
    width: 40vw;
    height: 60vh;

    overflow: hidden;
    
    top: 50%;
    left: 50%;
 
    /*! trasforma o elemento e move(translate) ele nesse caso 50% do elemento volta na horizontal e vertical nn mexe (x,y) */
    transform: translate(-50%, -50%);

    border-radius: 2rem;

    display: none;
    flex-direction: column;
    gap: 3rem;
    cursor: default;

    /* box-shadow: x y blur emvolta cor;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 0 0 0  100vw rgba(0,0,0,0.5); */
}

.oqmodalVI, .oqmodalEX{
   padding: 1.2rem 0 0 1rem;
    width: fit-content;
   /*display: flex;
   flex-direction: column;
   align-items: center; */
}

.textvih3, .textexh3{
    font-family: var(--fonte-modal-titulo);
    color: var(--corfontedadovisu);
    font-weight: var(--pesotitulomodal);
}

.textvip, .textexp{
    font-family: var(--fonte-modal-titulo);
    color: var(--corfontedadovisusub);
    font-weight: var(--pesosub);
    font-size: 0.8rem;
}

.imagemV, .imagemE{
    background-image: url(../assets/fundo\ modal.png);
    height: 100%;

    background-size: 130vh;
    background-position: 37% 30%;
}

/*! visu e excluir */
.fundo{
    position: fixed;
    inset: 0;

    /* inset é o mesmo disso aqui
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */

    display: none;

    background-color: #00000059;
    backdrop-filter: blur(8px);

    cursor: pointer;

}

#container-dados-visu, .caixamensagem {
    background-color: var(--fundodecorcontainerdados);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;

    margin: 10rem 0 1rem 8rem;
    padding: 1rem 0;
    width: 60%;


    /* nesse caso horizontal */
    align-items: center; 

    /* nesse caso vertical */
    justify-content: center;

}

.caixamensagem{
    width: 60%;
    height: 30%;
    margin: 10rem 0 1rem 7.5rem;
    padding: 1rem 1.5rem;

}

.dados-visu {
    display: flex; 
    gap: 0.5rem;

    border-radius: 1rem;

    height: 4.5vh;
    width:90%;
    align-items: center;
    padding: 0 0.5rem;

}

.dado-visu {
    display: flex; 
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: var(--fonte);
    font-weight: var(--pesomodal);
    font-size: var(--tamfontemodal);
    color: var(--colorinfo);

    border: 0.1rem solid var(--colorborda);
    border-radius: 0.5rem;
    padding: 0 0 0 0.5rem;

    /*! scrolla a div no eixo x */
    overflow-x: auto;

    /*! nao deixa q a div scrolla nesse sentido */
    overflow-y: hidden;

    /*! tira a barra de scroll */
    scrollbar-width: none;

    /*! mantem o texto td em uma linha proibindo q ele quebre */
    white-space: nowrap;
}

/** isso tira a borda do input e coloca um corzinha nele
.input {
   border: none;
   background-color: var(--corbackinput);
}  */



.destaque-dados-visu {
    color: var(--corfontedadovisu);
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 0.8rem;
    height: 70%;
    width: 4rem;

    font-family: var(--fonte);
    font-weight: var(--pesomodal);
    font-size: var(--tamfontemodaldes)
}

.id{
  background-color: var(--colorid);
}
.nome{
  background-color: var(--colornome);
}
.email{
  background-color: var(--coloremail);
}
.tipo{
  background-color: var(--colortipo);
}

.fotodeperfilvi, .fotodeperfilex {
   
    position: absolute;

    top: 10%;

    left: 50%;
    transform: translateX(-50%);    
}

.imgperfilvi, .imgperfilex {
    width: 10rem;
    height: 10rem;

    /* corta a img */
    object-fit: cover;

    border-radius: 11rem;
    border: 0.2rem solid var(--borderperfil);
}

.xis {
    cursor: pointer;    
    position: absolute;
    right: 1.3rem;
    top: 1.3rem;

    width: 2rem;

    transition: 0.3s;
}

.xis:hover {
    transform: scale(1.4);
}

/** MODAL EXCLUIR */


.containeraviso {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.avisoSEMdestaque {
    font-family: var(--fonte-modal);
    color: var(--coraviso);
    font-weight: var(--pesoaviso);
    text-align: center;
    font-size: var(--tamaviso);
}

.avisoCOMdestaque{
    font-family: var(--fonte-modal);
    color: var(--cordestaviso);
    font-weight: var(--pesoaviso);
    text-align: center;
    font-size: var(--tamaviso);
}

.rodapeaviso {
    font-family: var(--fonte-modal);
    color: var(--coraviso);
    font-weight: var(--pesoavisorodape);
    justify-content: center;
    text-align: center;
    font-size: var(--tamavisorod);
}

.containerbotoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.botao {
    font-family: var(--fonte-modal);
    font-weight: var(--pesoexcluirbotao);
    background-color: var(--backbotao);
    color: var(--letrabotao);
    width: 8vw;
    height: 3.5vh;

    align-items: center;
    justify-content: center;

    /* tira a borda horrenda q vem no botao */
    border: none; 
    border-radius: 2rem;
    cursor: pointer;

    transition: 0.3s;
}

/*! houver - quando passa o mouse */
.botao:hover {
    transform: scale(1.1);
}



.mensagem-botao {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.sim{
    background-color: var(--colorsim);
}
.cancelar{
    border: 0.1rem solid var(--colorcancelar);
    color: var(--colorcancelar);
}

.botao-novo-post {
    text-decoration: none;
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-novo-post:hover {   
    cursor: pointer;
}

/* CSS do modal de criar usuário */

#modal-criar-usuarios{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 40%;
    background-color: white;
    flex-direction: row;
    border-radius: 20px;
}

.metade-modal-criar {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagem-modal-criar {
    background-image: url(../assets/fundo-modais-editada.jpeg);
    background-position: center;
    background-size: cover;
    gap: 2%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.area-lapis-editar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 25%;
}

.container-lapis-editar {
    display: flex;
    background-color: white;
    padding: 3%;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.botao-lapis-modal-criar {
    text-decoration: none;
    color: inherit;
    border: none;
    background-color: inherit;
    width: 100%;
    aspect-ratio: 1/1;
}

.botao-lapis-modal-criar:hover {
    cursor: pointer;
}

.foto-de-perfil-escolhida {
    display: none;
}

.imagem-capa-modal-criar {
    background-color: white;
    border-radius: 100%;
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-capa-modal-criar .foto-de-perfil-do-usuario{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formulario-modal-criar {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 5%;
    justify-content: flex-start;
    background-color: #CA998F;
    color: white;
    font-family: var(--fonte);
}

.texto-campo-input-criar{
    color: #6D3534;
}

.container-formulario-criar {
    display: flex;
    height: 85%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12%;
    justify-content: center;
}

.area-input-modal-criar {
    width: 70%;
}

.input-criar-post {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 60%;
    font-size: 1rem;
    padding-left: 2%;
}

.input-criar-post::placeholder {
    color: #CA998F;
}

.textarea-descricao {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 2%;
}

.textarea-descricao::placeholder {
    color: #CA998F;
    font-family: var(--fonte);
}

.container-botoes-criar {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30%;
    padding-left: 5%;
    padding-right: 10%;
}

.botao-modal-criar {
    height: fit-content;
    font-size: large;
    height: 50%;
    width: 40%;
    border: none;
    border-radius: 5px;
    color: white;
}

.botao-modal-criar:hover {
    cursor: pointer;
}

.botao-modal-criar.cancelar {
    background-color: #6D3534;
}

.botao-modal-criar.salvar {
    background-color: #387736;
}