:root {
    --corclara: #FEECE8;
    --fontetitulo: "Erica One", sans-serif;
    --pesotitulo: 100;
    --linhatabela: #FEB579;
    --fonte: "Inter", sans-serif;
    --cordestaque: #C06850;
    --pesocabtab: 800;
    --pesogertab: 550;
    --pesopesq: 500;
    --cortextopesq: #773B36;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    padding-left: 16rem;

    padding-top: 1rem;
    min-height: 100vh;

   
    background: linear-gradient(
        #6D3534 39%, 
        #9A4E45 75%,
        #C66E57 94%,
        #E08E6D 100%
    );
}

.addUser {
    display: flex;

    align-items: center;
    justify-items: center;
}

.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.topoTabelaUser {
    display: flex;
    /* o justify sempre mexe no eixo principal nesse caso row */
    justify-content: space-between;

    align-items: center;

}

.textoTitulo {
    color: var(--corclara);
    font-family: var(--fontetitulo);
    font-weight: var(--pesotitulo);
}

.titulo {
    text-align: center;
}

.tabela{
    display: flex;
    flex-direction: column;
    width: 100%;
   
    margin-top: 3rem;
 
    justify-content: center;

    /*! para tds as colunas da tabela ficarem do msm tamanho */
    table-layout: fixed;

    /*! qunado a lateral da tabela ficar maior q a tela, com isso é posivel rolar ela pro lado sem quebrar a tabela */
    overflow-x: auto;

    border-radius: 1rem;

    background-color: var(--corclara);
}

/*? colunas das tabelas coluna cabeçalho e coluna body */
.colunaCab, .colunageral{
    text-align: center;

    /* add um espaço na no topo e no baixo da div */
    padding: 1.5vh;

    font-family: var(--fonte);

}

.colunageral {
    border-top: 2px solid var(--linhatabela);
    font-weight: var(--pesogertab);
}

.colunaCab {
    color: var(--cordestaque);
    font-weight: var(--pesocabtab);
}

.textop {
    font-family: var(--fonte);
    color: var(--corclara);
}

.textoh3 {
    font-family: var(--fonte);
    color: var(--corclara);
}

.icone {
    color: var(--corclara);
    
}

.addUser {
    background-color: var(--cordestaque);

    border-radius: 1rem;
    height: 2.5rem;
    width: 8rem;

}


.pesqUser {

    background-color: var(--corclara);

    background-image: url(../assets/Frame\ 90.svg);
    /*! pra img nn repitir no fundo td */
    background-repeat: no-repeat;

    border-radius: 3rem;

    /* cima direita baixo esquerda */
    padding: 1rem 1rem 1rem 3rem;

    /*! coloca o o back 1 p/ laterais e no centro de td */
    background-position: 1rem center;
}

.pesqUser::placeholder {
    color: var(--cortextopesq);
    font-weight: var(--pesopesq);
    font-family: var(--fonte);
}