<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Deep Groove</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../../public/css/dashboard.css">
    <!-- FONTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- ICONES -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"> 
</head>
<body>
    <header id="cabecalho-dashboard">
        <h1>Dashboard</h1>
        <div class="container-perfil">
            <div class="dados-do-administrador">
                <p>Nome do administrador</p>
                <p>Administrador</p>
            </div>
            <i class="icone-perfil bi bi-person-check"></i>
        </div>
    </header>
    <section id="dados-usuarios-publicacoes-dashboard">
        <p class="numero-de-usuarios">Total de usuários: <span>X</span></p>
        <p class="numero-de-publicacoes">Total de publicações: <span>Y</span></p>
    </section>  
    <main id="navegar-para-paginas-administrativas-dashboard">
        <div class="container-lista-de-usuarios">
            <div class="container-texto-lista-de-usuarios">
                <h2>Lista de Usuários</h2>
                <p>Gerencie os usuários do sistema</p>
            </div>
            <i class="icone-lista-de-usuarios bi bi-person-lines-fill"></i>
        </div>
        <div class="container-tabela-de-publicacoes">
            <div class="container-texto-tabela-de-publicacoes">
                <h2>Tabela de Publicações</h2>
                <p>Administre as publicações do sistema</p>
            </div>
            <i class="icone-tabela-de-publicacoes bi bi-file-earmark-post-fill"></i>
        </div>
    </main>
</body>
</html>