<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Deep Groove</title>
    <!-- *CSS -->
    <link rel="stylesheet" href="../../../public/css/dashboard.css">
    <!-- *FONTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- *ICONES -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"> 
</head>
<body>
    <main id="dashboard">
        <header id="cabecalho">
            <h1>Dashboard</h1>
            <div class="container-perfil">
                <div class="dados-do-administrador">
                    <p>Nome do administrador</p>
                    <p>Administrador</p>
                </div>
                <button class="icone-perfil">
                    <i class="bi bi-person-check"></i>
                </button>
            </div>
        </header>
        <nav id="dados-usuarios-publicacoes-e-navegar-para-paginas-administrativas">
            <ul class="lista-dados-usuarios-publicacoes-e-navegar-para-paginas-administrativas">
                <li class="container-usuarios-publicacoes container-usuarios">
                    <div class="numero-de-usuarios-publicacoes numero-de-usuarios">
                        <i class="icone icone-usuarios bi bi-people-fill"></i>
                        <p>Total de usuários: <span class="quantidade-total-de-usuarios">X</span></p>
                    </div>
                    <button class="botao-navegar-para-paginas-administrativas botao-navegar-para-tabela-de-usuarios">Tabela de Usuários</button>
                </li>
                <li class="container-usuarios-publicacoes container-publicacoes">
                    <div class="numero-de-usuarios-publicacoes numero-de-publicacoes">
                        <i class="icone icone-publicacoes bi bi-disc"></i>
                        <p>Total de usuários: <span class="quantidade-total-de-publicacoes">X</span></p>
                    </div>
                    <button class="botao-navegar-para-paginas-administrativas botao-navegar-para-tabela-de-publicacoes">Tabela de Publicações</button>
                </li>
            </ul>
        </nav>  
        <div id="container-titulo-de-fundo">
            <h1 class="titulo-de-fundo">DEEPGROOVE</h1>
        </div>
        <footer id="rodape">
            <button class="botao botao-home">
                <i class="icone-home bi bi-house-door-fill"></i>
            </button>
            <button class="botao botao-sign-out">
                <i class="icone-sign-out bi bi-box-arrow-right"></i>
            </button>
        </footer>
        <img class="imagem-disco-de-vinil-fundo" src="../../../public/assets/disco-de-vinil.png">
    </main>
</body>
</html>