<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/cadastro.css">
</head>
<body>
    <div class="container-cadastro">
        <div class="metade-tela-cadastro imagem">
        </div>
        <div class="metade-tela-cadastro formulario">
            <form>
                <h1 class="titulo-cadastro">Cadastro </h1>
                <h2>Nome:</h2>
                <input placeholder="Digite seu nome">
                <h2>Email:</h2>
                <input placeholder="Digite seu email">
                <h2>Senha:</h2>
                <input placeholder="Digite sua senha" type="password">
                <button class="botao-cadastro">Cadastrar</button>
            </form>
            <img class="logo" src="../../../public/assets/LogoTextoIcone (1).png">
        </div>

    </div>
</body>
</html>