<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/login.css">
</head>
<body>
    <div class="container-login">
        <div class="metade-tela-login imagem-cadastro">
        </div>
        <div class="metade-tela-login formulario">
            <h1 class="titulo-login">Cadastre-se</h1>
            <form>
                <h2>Nome:</h2>
                <input placeholder="Digite seu nome">
                <h2>Email:</h2>
                <input placeholder="Digite seu email">
                <h2>Senha:</h2>
                <input placeholder="Digite sua senha" type="password">
                <button class="botao-login">Cadastrar</button>
            </form>
            <img class="logo-login" src="../../../public/assets/LogoTextoIcone (1).png">
        </div>
    </div>
</body>
</html>