<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Posts da Deep Grove</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <main id="pagina-de-posts">
        <h1 class="titulo-da-pagina-de-posts">Publicações</h1>
        <section class="container-de-pesquisa-da-pagina-de-posts">
            <div class="barra-de-pesquisa-da-pagina-de-posts">
                <input type="text" placeholder="Qual álbum você está procurando?" class="pesquisar-na-pagina-de-posts">
                <i class="icone-de-pesquisa-da-pagina-de-posts bi bi-search"></i>
            </div>
            <i class="icone-filtro-de-pesquisa-da-pagina-de-posts bi bi-filter-circle-fill"></i>
        </section>
    </main>

</body>
</html>