<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Posts da Deep Grove</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <main id="PaginaDePosts">
        <h1 class="TituloDaPaginaDePosts">Publicações</h1>
        <section class="ContainerDePesquisaDaPaginaDePosts">
            <div class="BarraDePesquisaDaPaginaDePosts">
                <input type="text" placeholder="Qual álbum você está procurando?" class="PesquisarNaPaginaDePosts">
            </div>
        </section>
    </main>

</body>
</html>