<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Groove</title>
    <link real="stylesheet" href="../../../public/css/landingpage.css">
</head>
<body>
    
    <header>
        <!-- somente o tamanho -->
        <section class="navbar">
        
        </section>
        
        <section class="hero-section">

        </section>
    </header>
   

    <section class="carroussel">

    </section>

    <section class="mosaico">

    </section>
    <!-- somente o tamanho -->
    <section class="footer">

    </section>
</body>
</html>