<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>
<body>
    <div class="container-login">
        <div class="metade-tela-login formulario">
            <h1>Entre na sua conta</h1>
            <form>
                <h2>Email:</h2>
                <input placeholder="Digite seu email">
                <h2>Senha:</h2>
                <input placeholder="Digite sua senha">
                <button class="botao-login">Login</button>
                <h3>Não possui uma conta? Cadastre-se</h3>
            </form>
        </div>
        <div class="metade-tela-login imagem">

        </div>
    </div>
</body>
</html>