<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Posts da Deep Grove</title>
    <!-- FONTES -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../../../public/css/pagina-de-posts.css">
    <!-- ÍCONES -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <main id="pagina-de-posts">
        <h1 class="titulo">Publicações</h1>
        <section id="container-de-pesquisa">
            <div class="barra-de-pesquisa">
                <input type="text" placeholder="Qual álbum você está procurando?" class="pesquisar">
                <i class="icone-de-pesquisa bi bi-search"></i>
            </div>
            <i class="icone-filtro-de-pesquisa bi bi-filter-circle-fill"></i>
        </section>
        <section id="container-posts">
            <div class="album-container album-container1">
                <img src="../../../public/assets/disco-de-vinil-pagina-de-posts.png" class="disco-de-vinil">    
                <div class="album album1">
                    <img src="../../../public/assets/michael-jackson-thriller.png" class="capa-album-1">
                    <div class="texto-contido-no-album">
                        <h2>Título do álbum</h2>
                        <p>Descrição da música</p>
                        <p>Autor</p>
                    </div>
                </div>
            </div>
            <div class="album-container album-container2">
                <img src="../../../public/assets/disco-de-vinil-pagina-de-posts.png" class="disco-de-vinil"> 
                <div class="album album2">
                    <img src="../../../public/assets/michael-jackson-thriller.png" class="capa-album-2">
                    <div class="texto-contido-no-album">
                        <h2>Título do álbum</h2>
                        <p>Descrição da música</p>
                        <p>Autor</p>
                    </div>
                </div>    
            </div>
            <div class="album-container album-container3">
                <img src="../../../public/assets/disco-de-vinil-pagina-de-posts.png" class="disco-de-vinil">    
                <div class="album album3">
                    <img src="../../../public/assets/michael-jackson-thriller.png" class="capa-album-3">
                    <div class="texto-contido-no-album">
                        <h2>Título do álbum</h2>
                        <p>Descrição da música</p>
                        <p>Autor</p>
                    </div>
                </div> 
            </div>
            <div class="album-container album-container4">
                <img src="../../../public/assets/disco-de-vinil-pagina-de-posts.png" class="disco-de-vinil">     
                <div class="album album4">
                    <img src="../../../public/assets/michael-jackson-thriller.png" class="capa-album-4">
                    <div class="texto-contido-no-album">
                        <h2>Título do álbum</h2>
                        <p>Descrição da música</p>
                        <p>Autor</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="container-de-mudanca-de-pagina">
            <div class="container-botoes">
                <i class="botao seta-esquerda-mudar-pagina bi bi-chevron-left"></i>
                <div class="botao-numerado botao botao-pagina-atual">
                    <p>1</p>
                </div>
                <div class="botao botao-numerado botao-proxima-pagina">
                    <p>2</p>
                </div>
                <div class="botao botao-numerado botao-proxima-proxima-pagina">
                    <p>3</p>
                </div>
                <div class="existe-mais-paginas">
                    <p>...</p>
                </div>
                <i class="botao seta-direita-mudar-pagina bi bi-chevron-right"></i>
            </div>
        </section>
    </main>
</body>
</html>