<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pagPost.css">
    <title>Álbum</title>
</head>

<body>
    <main>

        <section id="capa-d">

            <div class="album-d">
                <p>capa album</p>
            </div>

            <div class="conteudo-capa-d">
                <h1>NOME DO ÁLBUM</h1>
                <p>3/5 <!-- estrela--> </p>
                <h3>ARTISTA</h3>
                <p>Nome do Artista</p>

                <div class="dados-capa-d">
                    <div class="ano-d">
                        <h3>ANO</h3>
                        <p>2006</p>
                    </div>

                    <div class="genero-d">
                        <h3>GÊNERO</h3>
                        <p>JAZZ</p>
                    </div>

                    <div class="duracao-d">
                        <h3>DURAÇÃO</h3>
                        <p>48:20</p>
                    </div>
                </div>

                <div class="estrelas-d">
                    <p>estrelas</p>
                </div>
            </div>

        </section>

        <section id="sobre-d">
            <div class="anlise-conceito-d">
                <h2>ANÁLISE</h2>
                <p>O conceito do álbum está na história do garoto cego, surdo e
                    mudo, Tommy Walker, que passa a ter essa condição depois
                    de ver seu pai sendo morto pelo amante da mãe. Pesado, né?
                    Tommy, quarto álbum da banda inglesa, apresenta o que se
                    sucede na vida do garoto depois do acontecimento, que vira
                    mestre em jogo de pinball e é encarado como sendo um novo
                    Messias.</p>
            </div>

            <div class="anlise-conceito-d">
                <h2>CONCEITO</h2>
                <p>O conceito do álbum está na história do garoto cego, surdo e
                    mudo, Tommy Walker, que passa a ter essa condição depois
                    de ver seu pai sendo morto pelo amante da mãe. Pesado, né?
                    Tommy, quarto álbum da banda inglesa, apresenta o que se
                    sucede na vida do garoto depois do acontecimento, que vira
                    mestre em jogo de pinball e é encarado como sendo um novo
                    Messias.</p>
            </div>
        </section>

        <section id="faixas-d">
            <h2 id="titulo-faixas-d">FAIXAS</h2>

            <div class="agrupamento-faixas-d">

                <div class="conteudo-faixas-d">

                    <div class="musica-d">

                        <div class="dados-faixa-d">
                            <p>play</p>
                            <p>trem</p>
                            <h4>NOME DA FAIXA</h4>
                        </div>
                        <p>03:45</p>

                    </div>

                    <div class="musica-d">

                      <div class="dados-faixa-d">
                            <p>play</p>
                            <p>trem</p>
                            <h4>NOME DA FAIXA</h4>
                        </div>
                        <p>03:45</p>

                    </div>

                </div>

                <div class="conteudo-faixas-d">
                    
                    <div class="musica-d">

                        <div class="dados-faixa-d">
                            <p>play</p>
                            <p>trem</p>
                            <h4>NOME DA FAIXA</h4>
                        </div>
                        <p>03:45</p>

                    </div>

                    <div class="musica-d">

                       <div class="dados-faixa-d">
                            <p>play</p>
                            <p>trem</p>
                            <h4>NOME DA FAIXA</h4>
                        </div>
                        <p>03:45</p>

                    </div>

                </div>

                <div class="conteudo-faixas-d">
                    
                    <div class="musica-d">

                        <div class="dados-faixa-d">
                            <p>play</p>
                            <p>trem</p>
                            <h4>NOME DA FAIXA</h4>
                        </div>
                        <p>03:45</p>

                    </div>

                    <div class="musica-d">

                        <div class="dados-faixa-d">
                            <p>play</p>
                            <p>trem</p>
                            <h4>NOME DA FAIXA</h4>
                        </div>
                        <p>03:45</p>

                    </div>

                </div>

                <div class="conteudo-faixas-d">
                    
                    <div class="musica-d">

                        <div class="dados-faixa-d">
                            <p>play</p>
                            <p>trem</p>
                            <h4>NOME DA FAIXA</h4>
                        </div>
                        <p>03:45</p>

                    </div>

                    <div class="musica-d">

                       <div class="dados-faixa-d">
                            <p>play</p>
                            <p>trem</p>
                            <h4>NOME DA FAIXA</h4>
                        </div>
                        <p>03:45</p>

                    </div>

                </div>

            </div>

        </section>

    </main>
</body>

</html>