<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/tabelaUsuarios.css">

    <!-- importano bootstrap-icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <title>Usuários Cadastrados</title>
</head>
<body>
    
    <section class="topoTabelaUser">
        <div class="addUser">
            <i class="bi bi-plus"></i>
            <h2 class="textoh2 cortextoadd">Novo usuário</h2>
        </div>

        <div class="infoUser">
            <i class="bi bi-person-square"></i>

            <div class="infos">
                <h3 class="textoh3 cornome">Fulano</h3>
                <h3 class="textoh3 cortipo">Administrador</h3>
            </div>

        </div>

    </section>

    <section class="titulo">
        <h1 class="textoTitulo">USUÁRIOS CADASTRADOS</h1>
    </section>

    <section class="tabela">
        <table class="tabeladentro">
            <!-- cabeçalho -->
            <thead class="tabelacabe"> 
                <!-- linha -->
                <tr class="linha linhaCab">
                    <!-- coluna -->
                    <th class="coluna colunaCab">ID</th>

                    <th class="coluna colunaCab">Perfil</th>

                    <th class="coluna colunaCab">Nome</th>

                    <th class="coluna colunaCab">Email</th>

                    <th class="coluna colunaCab">Tipo</th>

                    <th class="coluna colunaCab">Ações</th>
                    
                </tr>

            </thead>

            <tbody class="tabelageral">
                <!-- linha -->
                <tr class="linha linhaTab">
                    <td class="colunageral">1</td>
                    <td class="colunageral"><i class="bi bi-person-circle"></i></td>
                    <td class="colunageral">Fulano</td>
                    <td class="colunageral">fulano@gmail.com</td>
                    <td class="colunageral">Administrador</td>

                    <td class="colunageral">
                        <i class="acao bi bi-eye-fill"></i>
                        <i class="acao bi bi-pencil-square"></i>
                        <i class="acao bi bi-trash"></i>
                    </td>

                </tr>

                <!-- linha -->
                <tr class="linha linhaTab">
                    <td class="colunageral">1</td>
                    <td class="colunageral"><i class="bi bi-person-circle"></i></td>
                    <td class="colunageral">Fulano</td>
                    <td class="colunageral">fulano@gmail.com</td>
                    <td class="colunageral">Administrador</td>

                    <td class="colunageral">
                        <i class="acao bi bi-eye-fill"></i>
                        <i class="acao bi bi-pencil-square"></i>
                        <i class="acao bi bi-trash"></i>
                    </td>

                </tr>

                <!-- linha -->
                <tr class="linha linhaTab">
                    <td class="colunageral">1</td>
                    <td class="colunageral"><i class="bi bi-person-circle"></i></td>
                    <td class="colunageral">Fulano</td>
                    <td class="colunageral">fulano@gmail.com</td>
                    <td class="colunageral">Administrador</td>

                    <td class="colunageral">
                        <i class="acao bi bi-eye-fill"></i>
                        <i class="acao bi bi-pencil-square"></i>
                        <i class="acao bi bi-trash"></i>
                    </td>

                </tr>

                <!-- linha -->
                <tr class="linha linhaTab">
                    <td class="colunageral">1</td>
                    <td class="colunageral"><i class="bi bi-person-circle"></i></td>
                    <td class="colunageral">Fulano</td>
                    <td class="colunageral">fulano@gmail.com</td>
                    <td class="colunageral">Administrador</td>

                    <td class="colunageral">
                        <i class="acao bi bi-eye-fill"></i>
                        <i class="acao bi bi-pencil-square"></i>
                        <i class="acao bi bi-trash"></i>
                    </td>

                </tr>

                <!-- linha -->
                <tr class="linha linhaTab">
                    <td class="colunageral">1</td>
                    <td class="colunageral"><i class="bi bi-person-circle"></i></td>
                    <td class="colunageral">Fulano</td>
                    <td class="colunageral">fulano@gmail.com</td>
                    <td class="colunageral">Administrador</td>

                    <td class="colunageral">
                        <i class="acao bi bi-eye-fill"></i>
                        <i class="acao bi bi-pencil-square"></i>
                        <i class="acao bi bi-trash"></i>
                    </td>

                </tr>

                <!-- linha -->
                <tr class="linha linhaTab">
                    <td class="colunageral">1</td>
                    <td class="colunageral"><i class="bi bi-person-circle"></i></td>
                    <td class="colunageral">Fulano</td>
                    <td class="colunageral">fulano@gmail.com</td>
                    <td class="colunageral">Administrador</td>

                    <td class="colunageral">
                        <i class="acao bi bi-eye-fill"></i>
                        <i class="acao bi bi-pencil-square"></i>
                        <i class="acao bi bi-trash"></i>
                    </td>

                </tr>

                <!-- linha -->
                <tr class="linha linhaTab">
                    <td class="colunageral">1</td>
                    <td class="colunageral"><i class="bi bi-person-circle"></i></td>
                    <td class="colunageral">Fulano</td>
                    <td class="colunageral">fulano@gmail.com</td>
                    <td class="colunageral">Administrador</td>

                    <td class="colunageral">
                        <i class="acao bi bi-eye-fill"></i>
                        <i class="acao bi bi-pencil-square"></i>
                        <i class="acao bi bi-trash"></i>
                    </td>

                </tr>

                <!-- linha -->
                <tr class="linha linhaTab">
                    <td class="colunageral">1</td>
                    <td class="colunageral"><i class="bi bi-person-circle"></i></td>
                    <td class="colunageral">Fulano</td>
                    <td class="colunageral">fulano@gmail.com</td>
                    <td class="colunageral">Administrador</td>

                    <td class="colunageral">
                        <i class="acao bi bi-eye-fill"></i>
                        <i class="acao bi bi-pencil-square"></i>
                        <i class="acao bi bi-trash"></i>
                    </td>

                </tr>

             

              
            </tbody>
        </table>
    </section>
</body>
</html>